<template>
  <v-card>
    <v-card-title primary-title>
      <h2>Anomalies liées aux EDI</h2>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :loading="loading"
      :rows-per-page-items="[10, 25, 50]"
      :search="search"
      :items="anomalies"
    >
      <template slot="items" slot-scope="props">
        <tr @click.stop="showCallDetails(props.item.NumAppel)">
          <td>{{ props.item.NUM_BON_ONYX }}</td>
          <td>{{ props.item.NUM_BON_SPE }}</td>
          <td>{{ props.item.NumAppel }}</td>
          <td>{{ props.item.erreur_SPE }}</td>
          <td>{{ props.item.NIVEAU_ERREUR }}</td>
          <td>{{ props.item.NIVEAU_1 }}</td>
          <td>{{ props.item.NIVEAU_2 }}</td>
          <td>{{ props.item.NIVEAU_3 }}</td>
          <td>{{ props.item.delai_envoi_edi }}</td>
        </tr>
      </template>
      <template slot="no-results">
        <v-alert :value="true" color="error" icon="warning">
          La recherche pour "{{ search }}" n'a retourné aucun résultat.
        </v-alert>
      </template>
      <template slot="no-data">
        <v-alert :value="true" color="info" icon="warning">
          Aucune erreur remontée.
        </v-alert>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import Axios from "axios";
export default {
  data() {
    return {
      loading: false,
      search: null,
      headers: [
        { text: "N° bon onyx", value: "NUM_BON_ONYX" },
        { text: "N° SPE", value: "NUM_BON_SPE" },
        { text: "N° Appel", value: "NumAppel" },
        { text: "Erreur", value: "erreur_SPE" },
        { text: "Niveau", value: "NIVEAU_ERREUR" },
        { text: "Nv 1", value: "NIVEAU_1" },
        { text: "Nv 2", value: "NIVEAU_2" },
        { text: "Nv 3", value: "NIVEAU_3" },
        { text: "Délai restant (jours)", value: "delai_envoi_edi" }
      ]
    };
  },
  methods: {
    showCallDetails(NumAppel) {
      this.$emit("show-call", NumAppel);
    }
  },
  asyncComputed: {
    anomalies: {
      get() {
        return new Promise(resolve => {
          this.loading = true;
          Axios.get(process.env.VUE_APP_API_SERVICE + "anomalies/EDI")
            .then(Response => resolve(Response.data))
            .catch(error => console.log(error))
            .finally(() => (this.loading = false));
        });
      },
      default: []
    }
  }
};
</script>
