<template>
  <v-card>
    <v-card-title primary-title>
      <h2>Informations manquantes</h2>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :loading="loading"
      :rows-per-page-items="[10, 25, 50]"
      :search="search"
      :items="anomalies"
    >
      <template slot="items" slot-scope="props">
        <tr @click.stop="showCallDetails(props.item.NumAppel)">
          <td>{{ props.item.NumAppel }}</td>
          <td>{{ new Date(props.item.Date_Appel).toLocaleDateString() }}</td>
          <td>{{ props.item.anomalie_certificat }}</td>
          <td>{{ props.item.depassement_saisie }}</td>
          <td>{{ props.item.anomalie_bononyx }}</td>
          <td>{{ props.item.anomalie_eleveur }}</td>
          <td>{{ props.item.Espece }}</td>
          <td>{{ props.item.EDE }}</td>
          <td>{{ props.item.SIRET }}</td>
          <td>{{ props.item.numero_bon_spe }}</td>
          <td>{{ props.item.hors_SPE }}</td>
          <td>{{ props.item.numero_bon_onyx }}</td>
          <td>{{ props.item.Immatriculation }}</td>
        </tr>
      </template>
      <template slot="no-results">
        <v-alert :value="true" color="error" icon="warning">
          La recherche pour "{{ search }}" n'a retourné aucun résultat.
        </v-alert>
      </template>
      <template slot="no-data">
        <v-alert :value="true" color="info" icon="warning">
          Aucune erreur remontée.
        </v-alert>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import Axios from "axios";
export default {
  data() {
    return {
      loading: false,
      search: null,
      headers: [
        { text: "Appel", value: "NumAppel" },
        { text: "Date", value: "Date_Appel" },
        { text: "Anomalie ceritifat", value: "anomalie_certificat" },
        { text: "Dépassement de saisie", value: "depassement_saisie" },
        { text: "Anomalie du bon", value: "anomalie_bononyx" },
        { text: "Anomalie de l'éleveur", value: "anomalie_eleveur" },
        { text: "Espèce", value: "Espece" },
        { text: "EDE", value: "EDE", sortable: false },
        { text: "SIRET", value: "SIRET", sortable: false },
        { text: "Bon SPE", value: "numero_bon_spe", sortable: false },
        { text: "Hors SPE", value: "hors_SPE", sortable: false },
        { text: "Numéro bon onyx", value: "numero_bon_onyx", sortable: false },
        { text: "Immatriculation", value: "Immatriculation", sortable: false }
      ]
    };
  },
  asyncComputed: {
    anomalies: {
      get() {
        return new Promise(resolve => {
          this.loading = true;
          Axios.get(process.env.VUE_APP_API_SERVICE + "anomalies/")
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => console.log(ErrorEvent))
            .finally(() => (this.loading = false));
        });
      },
      default: []
    }
  },
  methods: {
    showCallDetails(NumAppel) {
      this.$emit("show-call", NumAppel);
    }
  }
};
</script>
