<template>
  <div id="call-details-card">
    <v-card flat>
      <v-card-title>
        <h2>Informations sur l'appel</h2>
      </v-card-title>
      <v-container fluid grid-list-xl>
        <v-layout row wrap>
          <v-flex>
            <v-alert :value="isCancelled" type="info">
              Cet appel a été annulé.
            </v-alert>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-space-between>
          <v-flex>N° d'appel : {{ callDetailed.NumAppel }}</v-flex>
          <v-flex>Reçu le {{ callDateTime }}</v-flex>
          <v-flex v-if="callDetailed.dte_appel_trans"
            >Transmis le {{ transferredDT }}</v-flex
          >
          <v-flex>
            <v-btn
              color="accent"
              small
              :disabled="callDetailed.RefBonCtrait === null"
              outline
              :to="'/tournees/' + callDetailed.RefBonCtrait"
              >{{ tour }}</v-btn
            >
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-space-between>
          <v-flex>{{ isGone }}</v-flex>
          <v-flex>{{ certif }}</v-flex>
          <v-flex>{{ bonEnlv }}</v-flex>
          <v-flex>{{ veto }}</v-flex>
          <v-flex>{{ passap }}</v-flex>
        </v-layout>
        <v-layout row wrap justify-space-between>
          <v-flex>Remarques : {{ callDetailed.Remarques }}</v-flex>
          <v-flex>MORASPE : {{ moraspe }}</v-flex>
          <v-flex>Type de bon : {{ typeBon }}</v-flex>
        </v-layout>
        <v-layout row wrap justify-space-between v-if="conenl">
          <v-flex>
            <h4>Anomalies de conditions d'enlèvement</h4>
          </v-flex>
          <v-flex v-for="(c, index) in conenl" :key="index">
            {{ c.CONENL }} - {{ c.labCONENL }}
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: {
    callDetailed: {}
  },
  asyncComputed: {
    moraspe() {
      return new Promise(resolve => {
        if (this.callDetailed.MORASPE !== undefined) {
          axios
            .get(
              process.env.VUE_APP_API_SERVICE +
                "moraspe/" +
                this.callDetailed.MORASPE
            )
            .then(Response => {
              resolve(Response.data.label);
            })
            .catch(ErrorEvent => resolve(ErrorEvent));
        } else resolve("Pas de MORASPE");
      });
    },
    typeBon: {
      get() {
        return new Promise(resolve => {
          axios
            .get(
              process.env.VUE_APP_API_SERVICE +
                "typdoc/" +
                this.callDetailed.TYPDOC
            )
            .then(Response => {
              resolve(
                Response.data.Code +
                  " (" +
                  Response.data["Libelle du docuement"] +
                  ")"
              );
            })
            .catch(ErrorEvent => resolve(ErrorEvent));
        });
      },
      default: "En cours de récupération"
    },
    conenl: {
      get() {
        return new Promise(resolve => {
          axios
            .get(
              process.env.VUE_APP_API_SERVICE +
                "conenl/appel/" +
                this.callDetailed.NumAppel
            )
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => resolve(ErrorEvent));
        });
      },
      default: []
    },
    bonEnlv: {
      get() {
        return new Promise(resolve => {
          if (this.callDetailed.RefBonCtrait) {
            axios
              .get(
                process.env.VUE_APP_API_SERVICE +
                  "tours/" +
                  this.callDetailed.RefBonCtrait
              )
              .then(Response => {
                if (Response.status !== 404) {
                  resolve("N° de bon : " + Response.data.num_bon);
                } else {
                  resolve("Pas de bon d'enlèvement enregistré.");
                }
              })
              .catch(error => resolve(error));
          } else {
            resolve("Pas de bon d'enlèvement.");
          }
        });
      },
      default: "Pas de bon d'enlèvement."
    }
  },
  computed: {
    callDateTime() {
      return (
        new Date(this.callDetailed.Date_Appel).toLocaleDateString() +
        " à " +
        new Date(this.callDetailed.Heure_Appel).toLocaleTimeString()
      );
    },
    transferredDT() {
      return new Date(this.callDetailed.dte_appel_trans).toLocaleString();
    },
    isGone() {
      if (this.callDetailed.Enlevement === -1) {
        let str =
          "Enlevé le " +
          new Date(this.callDetailed.Date_Enlev).toLocaleDateString();
        if (this.callDetailed.Heure_Enlev) {
          str +=
            " à " +
            new Date(this.callDetailed.Heure_Enlev).toLocaleTimeString();
        }
        return str;
      } else {
        return "Pas encore enlevé";
      }
    },
    certif() {
      if (this.callDetailed.Num_Certificat !== null) {
        return "Certificat n° " + this.callDetailed.Num_Certificat;
      } else {
        return "Pas de certificat";
      }
    },
    veto() {
      if (this.callDetailed.autorisation_veto === -1) {
        return "Autorisation véto obtenue";
      } else {
        return "Pas d'autorisation véto ou pas nécessaire";
      }
    },
    passap() {
      if (this.callDetailed.PASSSAP === null) {
        return "N'est pas un passage sans appel";
      } else {
        return "Passage sans appel";
      }
    },
    isCancelled() {
      return this.callDetailed.annulation !== 0;
    },
    tour() {
      if (this.callDetailed.RefBonCtrait !== null) {
        return "Tournée n° " + this.callDetailed.RefBonCtrait;
      } else {
        return "Assigné à aucune tournée.";
      }
    }
  },
  methods: {
    getMoraspe() {
      axios
        .get(
          process.env.VUE_APP_API_SERVICE +
            "moraspe/" +
            this.callDetailed.MORASPE
        )
        .then(Response => {
          return Response.data.label;
        })
        .catch(ErrorEvent => ErrorEvent);
    },
    getBon() {
      axios
        .get(
          process.env.VUE_APP_API_SERVICE + "typdoc/" + this.callDetailed.TYPDOC
        )
        .then(Response => {
          return (
            Response.data.Code +
            "(" +
            Response.data["Libelle du document"] +
            ")"
          );
        })
        .catch(ErrorEvent => ErrorEvent);
    }
  }
};
</script>
