<template>
  <div>
    <v-container fluid>
      <v-layout align-space-around justify-space-around row>
        <v-flex grow>
          <h2>Édition de l'appel {{ call.NumAppel }}</h2>
        </v-flex>
        <v-flex shrink v-if="isLoading">
          <v-progress-circular
            v-if="isLoading"
            indeterminate
            color="accent"
          ></v-progress-circular>
        </v-flex>
        <v-flex shrink>
          <v-btn fab dark ripple color="secondary" @click="save()">
            <v-icon dark>save</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex md6>
          <v-card>
            <v-card-title>
              <h3>Actions rapides</h3>
            </v-card-title>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex>
                  <v-text-field
                    v-model="formData.certificate"
                    label="Certificat"
                    type="number"
                  ></v-text-field>
                </v-flex>
                <v-flex>
                  <v-autocomplete
                    v-model="formData.tour"
                    label="Tournée"
                    :items="toursList"
                    placeholder="Tapez pour rechercher"
                    single-line
                    return-object
                  ></v-autocomplete>
                </v-flex>
                <v-flex>Numéro de bon : {{ NumBon }}</v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex>
                  <v-switch
                    v-model="formData.transmitted"
                    label="Appel transmis"
                  ></v-switch>
                </v-flex>
                <v-flex v-if="formData.transmitted">
                  Transmis le
                  {{ new Date(formData.transmittedDate).toLocaleString() }}
                </v-flex>
                <v-flex>
                  <v-switch
                    v-model="formData.cancelled"
                    label="Annulation"
                  ></v-switch>
                </v-flex>
                <v-flex>
                  <v-switch
                    v-model="formData.notDone"
                    label="Non effectué"
                  ></v-switch>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex>
                  <v-switch v-model="formData.gone" label="Enlevé"></v-switch>
                </v-flex>
                <v-flex v-if="formData.gone">
                  <v-menu
                    v-model="dateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="formattedDate"
                        label="Date de l'enlèvement"
                        persistent-hint
                        readonly
                        prepend-icon="event"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="formData.Date_Enlev"
                      @input="dateMenu = false"
                      locale="fr-fr"
                      first-day-of-week="1"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex v-if="formData.gone">
                  <v-text-field
                    label="Heure"
                    type="time"
                    suffix="RET"
                    v-model="formData.Heure_Enlev"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex>
                  <v-switch
                    v-model="formData.anomEnlv"
                    label="Anomalies enlèvement"
                  ></v-switch>
                </v-flex>
                <v-flex v-if="formData.anomEnlv">
                  <v-select
                    v-model="formData.conenl"
                    label="CONENL"
                    :items="conenlList"
                    single-line
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
        <v-flex md6>
          <v-card>
            <v-card-title primary-title>
              <h3>Autres informations</h3>
            </v-card-title>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex>
                  <v-select
                    v-model="formData.TTYGIS"
                    label="TTYGIS"
                    :items="ttygisList"
                    item-text="sigle"
                    item-value="Id"
                    single-line
                  ></v-select>
                </v-flex>
                <v-flex>
                  <v-switch
                    v-model="formData.PASSSAP"
                    label="Passage sans appel"
                  ></v-switch>
                </v-flex>
                <v-flex>
                  <v-select
                    v-model="formData.moraspe"
                    label="MORASPE"
                    :items="moraspeList"
                    item-text="label"
                    item-value="Code"
                    single-line
                  ></v-select>
                </v-flex>
                <v-flex>
                  <v-select
                    v-model="formData.typdoc"
                    label="TYPDOC"
                    :items="typdocList"
                    item-text="Code"
                    item-value="Id"
                    single-line
                  ></v-select>
                </v-flex>
                <v-flex>
                  <v-switch
                    v-model="formData.autoVeto"
                    label="Autorisation véto"
                  ></v-switch>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex>
                  <v-textarea
                    label="Remarques"
                    v-model="formData.remarks"
                    clearable
                  ></v-textarea>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex md6>
          <v-card>
            <v-card-title>
              <h3>Changer l'éleveur</h3>
            </v-card-title>
            <v-container fluid fill-height>
              <v-layout column>
                <v-flex>
                  <v-flex>
                    <v-autocomplete
                      v-model="formData.farmId"
                      :items="farmItems"
                      :loading="loadSearch"
                      :search-input.sync="searchFarm"
                      hide-no-data
                      hide-selected
                      item-text="description"
                      item-value="Id_Etablissement"
                      label="Recherche d'un établissement"
                      placeholder="Tapez pour rechercher"
                    ></v-autocomplete>
                  </v-flex>
                  <v-progress-linear
                    indeterminate
                    v-if="loadFarm"
                    color="secondary"
                  ></v-progress-linear>
                  <FarmDetails
                    :farm="currentFarm"
                    :showToolbar="false"
                  ></FarmDetails>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
        <v-flex md6>
          <v-card>
            <v-card-title>
              <h3>Animaux</h3>
            </v-card-title>
            <v-container fluid fill-height>
              <v-layout>
                <v-flex>
                  <AnimalDetails
                    v-for="animal in animals"
                    :animalDetailed="animal"
                    :key="animal.RefCollecte"
                    @edit-animal="editAnimal"
                  ></AnimalDetails>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-snackbar v-model="snack" :color="snackbarColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="snack = false">Fermer</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import FarmDetails from "@/components/farms/FarmDetails";
import AnimalDetails from "@/components/animals/AnimalDetails";
import Axios from "axios";
import moment from "moment";

export default {
  props: {
    call: Object
  },
  components: {
    FarmDetails,
    AnimalDetails
  },
  data() {
    return {
      isLoading: false,
      snack: false,
      snackbarColor: "error",
      snackMsg: "",
      valid: false,
      loadFarm: false,
      searchFarm: null,
      loadSearch: false,
      farmEntries: [],
      currentFarm: {},
      toursList: [],
      dateMenu: false,
      formData: {
        farmId: "",
        transmitted: false,
        transmittedDate: null,
        cancelled: false,
        notDone: false,
        gone: false,
        Date_Enlev: null,
        Heure_Enlev: null,
        anomEnlv: false,
        certif: null,
        tour: null,
        conenl: null,
        TTYGIS: null,
        PASSSAP: false,
        moraspe: "",
        typdoc: "",
        autoVeto: false,
        remarks: null
      }
    };
  },
  computed: {
    farmItems() {
      return this.farmEntries.map(farm => {
        const description =
          farm.Prenom_Det + " " + farm.Nom_Det + " Ville : " + farm.Ville_Dom;
        return Object.assign({}, farm, { description });
      });
    },
    farmId() {
      return this.formData.farmId;
    },
    isTaken() {
      return this.formData.gone;
    },
    trans() {
      return this.formData.transmitted;
    },
    formattedDate: {
      get() {
        return this.formData.Date_Enlev
          ? moment(this.formData.Date_Enlev).format("DD/MM/YYYY")
          : "";
      },
      set(val) {
        this.formData.Date_Enlev = moment(val).format("YYYY-MM-DD");
      }
    },
    NumBon() {
      if (this.formData.tour) {
        return this.formData.tour.num_bon;
      }
      return "";
    }
  },
  asyncComputed: {
    moraspeList: {
      get() {
        return new Promise((resolve, reject) => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "moraspe/")
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => {
              console.log(ErrorEvent);
              reject(ErrorEvent);
            });
        });
      },
      default: []
    },
    typdocList: {
      get() {
        return new Promise((resolve, reject) => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "typdoc/")
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => {
              console.log(ErrorEvent);
              reject(ErrorEvent);
            });
        });
      },
      default: []
    },
    conenlList: {
      get() {
        return new Promise(resolve => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "conenl/").then(
            Response => {
              const data = [];
              for (const con of Response.data) {
                data.push({
                  text: con.labCONENL,
                  value: con.id
                });
              }
              resolve(data);
            }
          );
        });
      },
      default: []
    },
    ttygisList: {
      get() {
        return new Promise((resolve, reject) => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "ttygis")
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => reject(ErrorEvent));
        });
      },
      default: []
    },
    animals: {
      get() {
        return new Promise(resolve => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "animals", {
            params: {
              NumAppel: this.call.NumAppel
            }
          })
            .then(Response => resolve(Response.data))
            .catch(err => {
              this.snack = true;
              this.snackMsg = err;
              this.snackbarColor = "error";
            });
        });
      }
    }
  },
  watch: {
    searchFarm() {
      if (this.farmEntries.length > 0) return;
      if (this.isLoading) return;
      this.isLoading = true;
      Axios.get(process.env.VUE_APP_API_SERVICE + "installations", {
        params: {
          active: true
        }
      })
        .then(Response => {
          this.farmEntries = Response.data;
        })
        .catch(ErrorEvent => console.log(ErrorEvent))
        .finally(() => (this.isLoading = false));
    },
    farmId(val) {
      if (val === "") return;
      this.currentFarm = this.farmEntries.find(
        element => element.Id_Etablissement === val
      );
    },
    call: {
      handler: "populateForm",
      immediate: true
    },
    toursList() {
      if (this.toursList && this.call.RefBonCtrait) {
        this.formData.tour = this.toursList.find(
          v => v.value === this.call.RefBonCtrait
        );
      }
    },
    isTaken(val) {
      if (val) {
        this.formData.Date_Enlev = new Date().toISOString().substr(0, 10);
      } else {
        this.formData.Date_Enlev = null;
      }
    },
    trans(val) {
      if (val) {
        this.formData.transmittedDate = new Date();
      } else {
        this.formData.transmittedDate = null;
      }
    }
  },
  methods: {
    populateForm() {
      this.loadFarm = true;
      Axios.get(
        process.env.VUE_APP_API_SERVICE +
          "installations/" +
          this.call.Id_Etablissement
      )
        .then(Response => (this.currentFarm = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent))
        .finally((this.loadFarm = false));
      this.formData.certificate = this.call.Num_Certificat;
      this.formData.transmitted =
        this.call.appel_tx_chauffeur !== 0 ? true : false;
      this.formData.transmittedDate = this.call.dte_appel_trans;
      this.formData.notDone = this.call.appel_noneffec !== 0 ? true : false;
      this.formData.gone = this.call.Enlevement !== 0 ? true : false;
      this.formData.Date_Enlev =
        this.call.Date_Enlev !== null
          ? new Date(this.call.Date_Enlev).toISOString().substring(0, 10)
          : null;
      this.formData.Heure_Enlev =
        this.call.Heure_Enlev !== null
          ? new Date(this.call.Heure_Enlev).toLocaleTimeString()
          : null;
      this.formData.TTYGIS = this.call.TTYGIS;
      this.formData.PASSSAP = this.call.PASSAP === 1 ? true : false;
      this.formData.moraspe = this.call.MORASPE;
      this.formData.typdoc = this.call.TYPDOC;
      this.formData.autoVeto = this.call.autorisation_veto !== 0 ? true : false;
      this.formData.remarks = this.call.Remarques;
    },
    save() {
      this.isLoading = true;
      const sendData = {
        NumAppel: this.call.NumAppel,
        PASSSAP: this.formData.PASSSAP ? 1 : null,
        TYPDOC: this.formData.TYPDOC || 1,
        TTYGIS: this.formData.TTYGIS || 1,
        Id_Etablissement: this.formData.farmId,
        autorisation_veto: this.formData.autoVeto ? -1 : 0,
        DAB: 0,
        Remarques: this.formData.remarks || "",
        appel_tx_chauffeur: this.formData.transmis ? -1 : 0,
        dte_autori_veto:
          this.formData.autoVeto && this.call.dte_autori_veto === null
            ? new Date().toISOString()
            : null,
        dte_appel_trans:
          this.formData.transmitted && this.call.dte_appel_trans === null
            ? new Date().toISOString()
            : null,
        centre_trait_bon: 2,
        appel_auto: 0,
        MORASPE: this.formData.MORASPE || 1,
        Enlevement: this.formData.gone ? -1 : 0,
        Date_Enlev: this.formData.Date_Enlev,
        Heure_Enlev: this.formData.Heure_Enlev
      };
      if (this.formData.tour) {
        sendData.RefBonCtrait = this.formData.tour.value;
      } else {
        sendData.RefBonCtrait = null;
      }
      Axios.patch(
        process.env.VUE_APP_API_SERVICE + "calls/" + this.call.NumAppel,
        sendData
      )
        .then(() => {
          this.snack = true;
          this.snackbarColor = "success";
          this.snackMsg = "Modifié avec succès !";
          this.$router.push({ name: "calls" });
        })
        .catch(ErrorEvent => {
          this.snack = true;
          this.snackbarColor = "error";
          this.snackMsg = ErrorEvent;
        })
        .finally((this.isLoading = false));
    },
    editAnimal(e) {
      this.$emit("edit-animal", e);
    }
  },
  beforeCreate() {
    Axios.get(process.env.VUE_APP_API_SERVICE + "tours")
      .then(Response => {
        this.toursList = Response.data.map(item => {
          return {
            text:
              item.TIDTOUR +
              " (" +
              item.Immatriculation +
              "), ref bon : " +
              item.num_bon,
            value: item.RefbonOnyx,
            num_bon: item.num_bon
          };
        });
      })
      .catch(ErrorEvent => console.log(ErrorEvent));
  },
  beforeDestroy() {
    this.farmEntries = [];
    delete this.farmEntries;
    this.toursList = [];
    delete this.toursList;
  }
};
</script>
