<template>
  <div id="calls-table">
    <v-card>
      <v-card-title primary-title>
        <h2>Appels</h2>
        <v-spacer></v-spacer>
        <v-btn color="accent">
          <download-excel
            name="Appels.xls"
            :data="callsList"
            :fields="jsonFields"
            worksheet="Données"
          >
            <v-icon left>get_app</v-icon>Télécharger en Excel
          </download-excel>
        </v-btn>
        <v-spacer></v-spacer>
        <v-radio-group v-model="dateRange" :mandatory="false">
          <v-radio
            label="Sur 6 mois"
            value="default"
            color="secondary"
          ></v-radio>
          <v-radio label="J-2" value="yesterday" color="secondary"></v-radio>
          <v-radio label="J-3" value="twoDays" color="secondary"></v-radio>
        </v-radio-group>
        <v-select
          v-model="selectedYear"
          :items="years"
          label="Filtrer par année"
        ></v-select>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Rechercher"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="callsList"
        :loading="loading"
        :rows-per-page-items="[10, 25, 50]"
        :search="search"
        class="elevation-1"
        :pagination.sync="pagination"
      >
        <template slot="items" slot-scope="props">
          <tr @click.stop="callDetails(props.item.NumAppel)">
            <td>{{ props.item.NumAppel }}</td>
            <td>{{ props.item.DateTimeCall }}</td>
            <td>{{ props.item.ELEVEUR }}</td>
            <td>{{ props.item["Téléphone"] }}</td>
            <td>{{ props.item.Commune }}</td>
            <td>{{ props.item.Espece }}</td>
            <td>{{ props.item.TRANSMIS }}</td>
            <td>{{ props.item.Enlevé }}</td>
            <td>{{ props.item.Num_Certificat }}</td>
            <td class="justify-center layout px-0">
              <v-icon
                small
                class="mr-2"
                @click.stop="markTransmitted(props.item.NumAppel)"
                >exit_to_app</v-icon
              >
              <v-icon
                small
                class="mr-2"
                @click.stop="editCall(props.item.NumAppel)"
                >edit</v-icon
              >
            </td>
          </tr>
        </template>
        <template slot="no-results">
          <v-alert :value="true" color="error" icon="warning"
            >La recherche pour "{{ search }}" n'a retourné aucun
            résultat.</v-alert
          >
        </template>
        <template slot="no-data">
          <v-alert :value="true" color="info" icon="warning"
            >Aucun appel enregistré</v-alert
          >
        </template>
      </v-data-table>
    </v-card>
    <v-snackbar v-model="snack" :color="snackbarColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="error = false">Fermer</v-btn>
    </v-snackbar>
    <v-dialog v-model="transmitDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Marquer transmis ?</v-card-title>
        <v-card-text>
          Voulez-vous vraiment marquer cet appel comme transmis le
          {{ new Date().toLocaleString() }} ?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="transmitDialog = false"
            >Non</v-btn
          >
          <v-btn color="greed darken-1" flat @click="setTransmitted">Oui</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      snack: false,
      snackbarColor: "error",
      snackMsg: "",
      dateRange: "twoDays",
      headers: [
        { text: "N° Appel", value: "NumAppel" },
        { text: "Date et heure", value: "DateTimeCall" },
        { text: "Éleveur", value: "ELEVEUR" },
        { text: "Téléphone", value: "Téléphone" },
        { text: "Commune", value: "Commune" },
        { text: "Espèce", value: "Espece" },
        { text: "Transmis", value: "TRANSMIS" },
        { text: "Enlevé", value: "Enlevé" },
        { text: "N° certificat", value: "Num_Certificat" },
        { text: "Actions", value: "NumAppel", sortable: false }
      ],
      pagination: {
        descending: true,
        sortBy: "NumAppel"
      },
      search: "",
      loading: false,
      calls: [],
      years: [],
      selectedYear: "",
      transmitDialog: false,
      callIdToTransmit: null,
      jsonFields: {
        "N° Appel": "NumAppel",
        "Date et heure": "DateTimeCall",
        Éleveur: "ELEVEUR",
        Téléphone: "Téléphone",
        Commune: "Commune",
        Espèce: "Espece",
        Transmis: "TRANSMIS",
        Enlevé: "Enlevé",
        "N° certificat": "Num_Certificat"
      }
    };
  },
  computed: {
    callsList() {
      var cl = [];
      var showCall = {};
      for (const call of this.calls) {
        showCall = {
          NumAppel: call["REF APPEL"],
          DateTimeCall:
            new Date(call["DATE APPEL"]).toLocaleDateString() +
            " - " +
            new Date(call["HEURE APPEL"]).toLocaleTimeString()
        };
        cl.push(Object.assign({}, call, showCall));
      }
      return cl;
    }
  },
  watch: {
    dateRange: {
      handler: function(oldVal, newVal) {
        if (oldVal !== newVal) {
          if (this.dateRange === "default") {
            this.getCalls();
          } else if (this.dateRange === "yesterday") {
            this.getCallsFromYesterday();
          } else if (this.dateRange === "twoDays") {
            this.getCallsFromTwoDays();
          }
        }
      },
      immediate: true
    },
    selectedYear: {
      handler: "getCallsByYear"
    }
  },
  methods: {
    // Gets the calls from the database, for one year
    getCalls() {
      this.loading = true;
      this.selectedYear = "";
      axios
        .get(process.env.VUE_APP_API_SERVICE + "calls/")
        .then(Response => {
          this.calls = [];
          this.calls = Response.data;
        })
        .catch(err => {
          this.snack = true;
          this.snackMsg = err;
          this.snackbarColor = "error";
        })
        .finally(() => (this.loading = false));
    },
    // Gets calls for one specific year.
    getCallsByYear() {
      if (this.selectedYear) {
        this.loading = true;
        this.dateRange = "";
        axios
          .get(process.env.VUE_APP_API_SERVICE + "calls/", {
            params: {
              year: this.selectedYear
            }
          })
          .then(Response => {
            this.calls = [];
            this.calls = Response.data;
          })
          .catch(err => {
            this.snack = true;
            this.snackMsg = err;
            this.snackbarColor = "error";
          })
          .finally(() => (this.loading = false));
      }
    },
    //Gets the calls from yesterday.
    getCallsFromYesterday() {
      this.loading = true;
      this.selectedYear = "";
      axios
        .get(process.env.VUE_APP_API_SERVICE + "calls/yesterday/")
        .then(Response => {
          this.calls = [];
          this.calls = Response.data;
        })
        .catch(err => {
          this.snack = true;
          this.snackMsg = err;
          this.snackbarColor = "error";
        })
        .finally(() => (this.loading = false));
    },
    // Gets the calls from two days prior.
    getCallsFromTwoDays() {
      this.loading = true;
      this.selectedYear = "";
      axios
        .get(process.env.VUE_APP_API_SERVICE + "calls/two-days/")
        .then(Response => {
          this.calls = [];
          this.calls = Response.data;
        })
        .catch(err => {
          this.snack = true;
          this.snackMsg = err;
          this.snackbarColor = "error";
        })
        .finally(() => (this.loading = false));
    },
    callDetails(c) {
      this.$router.push({ name: "CallDetails", params: { callId: c } });
    },
    editCall(c) {
      this.$router.push({ name: "callEdit", params: { callId: c } });
    },
    // gets the transmission dialog to show up.
    markTransmitted(c) {
      this.callIdToTransmit = c;
      this.transmitDialog = true;
    },
    // Sets the call as transmitted
    setTransmitted() {
      if (this.callIdToTransmit != null) {
        axios
          .patch(
            process.env.VUE_APP_API_SERVICE + "calls/" + this.callIdToTransmit,
            {
              NumAppel: this.callIdToTransmit,
              appel_tx_chauffeur: -1,
              dte_appel_trans: new Date().toISOString()
            }
          )
          .then(Response => {
            if (Response.status === 200) {
              this.snack = true;
              this.snackMsg = "Opération effectuée";
              this.snackbarColor = "success";
            }
          })
          .catch(err => {
            this.snack = true;
            this.snackMsg = err;
            this.snackbarColor = "error";
          })
          .finally(() => (this.transmitDialog = false));
      }
    }
  },
  beforeMount() {
    axios
      .get(process.env.VUE_APP_API_SERVICE + "calls/years")
      .then(Response => (this.years = Response.data))
      .catch(err => {
        this.snack = true;
        this.snackMsg = err;
        this.snackbarColor = "error";
      });
  },
  beforeDestroy() {
    this.calls = undefined;
    delete this.calls;
    this.headers = undefined;
    delete this.headers;
  }
};
</script>
