<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <v-container fluid>
          <v-layout row>
            <v-layout column>
              <v-flex>
                <h2>Appels enlevés</h2>
              </v-flex>
              <v-flex>
                <v-btn color="accent" :loading="loadDdl">
                  <download-excel
                    name="Enlevements.xls"
                    :data="excelData"
                    :fields="jsonFields"
                    worksheet="Données"
                  >
                    <v-icon left>get_app</v-icon>Télécharger en Excel
                  </download-excel>
                </v-btn>
              </v-flex>
            </v-layout>
            <v-layout column>
              <v-flex>
                <v-menu
                  v-model="dateMenu1"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="formattedDate1"
                      label="Date de début"
                      persistent-hint
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date1"
                    @input="dateMenu1 = false"
                    locale="fr-fr"
                    first-day-of-week="1"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex>
                <v-menu
                  v-model="dateMenu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="formattedDate2"
                      label="Date de début"
                      persistent-hint
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date2"
                    @input="dateMenu2 = false"
                    locale="fr-fr"
                    first-day-of-week="1"
                    :min="date1"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-container>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Rechercher"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="callsList"
        :loading="loading"
        :rows-per-page-items="[10, 25, 50]"
        :search="search"
        class="elevation-1"
        :pagination.sync="pagination"
      >
        <template slot="items" slot-scope="props">
          <tr @click="callDetails(props.item)">
            <td>{{ props.item.NumAppel }}</td>
            <td>{{ props.item.DateTimeCall }}</td>
            <td>{{ props.item.FarmName }}</td>
            <td>{{ props.item.DateTimeEnlv }}</td>
            <td>{{ props.item.Num_Certificat }}</td>
          </tr>
        </template>
        <template slot="no-results">
          <v-alert :value="true" color="error" icon="warning"
            >La recherche pour "{{ search }}" n'a retourné aucun
            résultat.</v-alert
          >
        </template>
        <template slot="no-data">
          <v-alert :value="true" color="info" icon="warning"
            >Aucun appel enregistré</v-alert
          >
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import moment from "moment";
import Axios from "axios";
export default {
  data() {
    return {
      loading: false,
      loadDdl: false,
      search: null,
      date1: new Date().toISOString().substr(0, 10),
      date2: new Date().toISOString().substring(0, 10),
      dateMenu1: false,
      dateMenu2: false,
      data: [],
      headers: [
        { text: "Numéro", value: "NumAppel" },
        { text: "Date et heure", value: "DateTimeCall" },
        { text: "Éleveur", value: "FarmName" },
        { text: "Enlèvement", value: "DateTimeEnlv" },
        { text: "N° certificat", value: "Num_Certificat" }
      ],
      pagination: {
        descending: true,
        sortBy: "NumAppel"
      },
      jsonFields: {
        Numéro: "NumAppel",
        "Date et heure": "DateTimeCall",
        Éleveur: "FarmName",
        EDE: "EDEV2",
        SIRET: "SIRETV2",
        Enlèvement: "DateTimeEnlv",
        "N° certificat": "Num_Certificat",
        Identification: "identification",
        Espece: "Espece",
        Nombre: "Nbre",
        Poids: "Poids",
        Sexe: "Sexe",
        Catégorie: "Libelle",
        "Cause de mort": "Cause_mort",
        Circonstances: "CircMort"
      }
    };
  },
  computed: {
    formattedDate1() {
      return this.date1 ? moment(this.date1).format("DD/MM/YYYY") : "";
    },
    formattedDate2() {
      return this.date2 ? moment(this.date2).format("DD/MM/YYYY") : "";
    },
    callsList() {
      var cl = [];
      var showCall = {};
      for (const call of this.data) {
        showCall = {
          NumAppel: call.NumAppel,
          FarmName: call.Prenom_Det + " " + call.Nom_Det,
          Num_Certificat: call.Num_Certificat,
          EDEV2: call.EDEV2,
          SIRETV2: call.SIRETV2,
          DateTimeCall:
            new Date(call.Date_Appel).toLocaleDateString() +
            " - " +
            new Date(call.Heure_Appel).toLocaleTimeString()
        };
        if (call.Date_Enlev !== null && call.Heure_Enlev !== null) {
          showCall.DateTimeEnlv =
            new Date(call.Date_Enlev).toLocaleDateString() +
            " - " +
            new Date(call.Heure_Enlev).toLocaleTimeString();
        } else if (call.Date_Enlev === null && call.Heure_Enlev !== null) {
          showCall.DateTimeEnlv = new Date(
            call.Heure_Enlev
          ).toLocaleTimeString();
        } else if (call.Date_Enlev === null && call.Heure_Enlev === null) {
          showCall.DateTimeEnlv = "";
        }
        cl.push(showCall);
      }
      return cl;
    }
  },
  asyncComputed: {
    excelData() {
      return new Promise(resolve => {
        let data = [];
        for (const call of this.callsList) {
          Axios.get(process.env.VUE_APP_API_SERVICE + "animals", {
            params: { NumAppel: call.NumAppel }
          })
            .then(Response => {
              for (const an of Response.data) {
                const animalData = {
                  identification:
                    an.CodePaysNumAnimal +
                    an.Identification_BV +
                    "\nDAB : " +
                    an.NumDAB +
                    "\nASDA : " +
                    an.NumASDA,
                  Espece: an.Espece,
                  Nbre: an.Nbre,
                  Poids: an.Poids,
                  Sexe: an.Sexe,
                  Cause_mort: an.Cause_Mort,
                  CircMort: an.CircMort,
                  Libelle: an.Libelle
                };
                data.push(Object.assign({}, call, animalData));
              }
            })
            .catch(ErrorEvent => console.log(ErrorEvent));
        }
        resolve(data);
      });
    }
  },
  watch: {
    date1: {
      handler: "getData",
      immediate: true
    },
    date2: {
      handler: "getData",
      immediate: true
    }
  },
  methods: {
    getData() {
      this.loading = true;
      Axios.get(process.env.VUE_APP_API_SERVICE + "calls/removed", {
        params: {
          from: new Date(this.date1).toISOString(),
          to: new Date(this.date2).toISOString()
        }
      })
        .then(Response => (this.data = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent))
        .finally(() => (this.loading = false));
    },
    callDetails(call) {
      this.$emit("call-details", call.NumAppel);
    }
  }
};
</script>
