<template>
  <div id="call-form">
    <v-card>
      <v-card-title primary-title>
        <h1>{{ title }}</h1>
      </v-card-title>
      <v-stepper v-model="stage">
        <v-stepper-header>
          <v-stepper-step
            :complete="stage > 1"
            editable
            step="1"
            color="secondary"
          >
            Éleveur
          </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step
            :complete="stage > 2"
            editable
            step="2"
            color="secondary"
          >
            Appel
          </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step editable step="3" color="secondary">
            Animaux
          </v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-autocomplete
              v-model="farmStep.farm"
              :items="farmItems"
              :loading="isLoading"
              :search-input.sync="searchFarm"
              hide-no-data
              hide-selected
              item-text="description"
              item-value="Id_Etablissement"
              label="Recherche d'un établissement"
              placeholder="Tapez pour rechercher"
              return-object
            ></v-autocomplete>
            <v-expand-transition>
              <FarmDetails
                v-if="farmStep.farm !== null"
                :farm="farmStep.farm"
                :showToolbar="false"
              ></FarmDetails>
            </v-expand-transition>
            <v-btn flat>Annuler</v-btn>
            <v-btn
              color="primary"
              @click="stage = 2"
              :disabled="farmStep.farm === null"
              >Suivant</v-btn
            >
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-container fluid grid-list-xl>
              <v-layout row wrap>
                <v-flex>
                  <h4>Date et heure de l'appel :</h4>
                </v-flex>
                <v-flex>
                  <v-menu
                    v-model="callStep.dateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="formattedDate"
                        label="Date de l'appel"
                        persistent-hint
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="callStep.date"
                      @input="callStep.dateMenu = false"
                      locale="fr-fr"
                      first-day-of-week="1"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex>
                  <v-text-field
                    label="Heure"
                    type="time"
                    suffix="RET"
                    v-model="callStep.hour"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex>
                  <v-switch
                    v-model="callStep.PASSSAP"
                    label="Passage sans appel"
                  ></v-switch>
                </v-flex>
                <v-flex>
                  <v-select
                    v-model="callStep.moraspe"
                    label="MORASPE"
                    :items="moraspeList"
                    item-text="label"
                    item-value="Code"
                    single-line
                  ></v-select>
                </v-flex>
                <v-flex>
                  <v-select
                    v-model="callStep.typdoc"
                    label="TYPDOC"
                    :items="typdocList"
                    item-text="Code"
                    item-value="Id"
                    single-line
                  ></v-select>
                </v-flex>
                <v-flex>
                  <v-switch
                    v-model="callStep.autoVeto"
                    label="Autorisation véto"
                  ></v-switch>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex>
                  <v-textarea
                    label="Remarques"
                    v-model="callStep.remarks"
                    clearable
                  ></v-textarea>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex>
                  <v-switch
                    v-model="callStep.transmis"
                    label="Appel transmis"
                  ></v-switch>
                </v-flex>
                <v-flex v-if="callStep.transmis"
                  >Transmis le {{ new Date().toLocaleString() }}</v-flex
                >
                <v-flex>
                  Numéro de bon : {{ numBon }}
                  <v-select
                    v-model="callStep.tour"
                    label="Tournée"
                    :items="toursList"
                    single-line
                    return-object
                  ></v-select>
                </v-flex>
                <v-flex>
                  <v-select
                    v-model="callStep.TTYGIS"
                    label="TTYGIS"
                    :items="ttygisList"
                    item-text="sigle"
                    item-value="Id"
                    single-line
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex shrink>
                  <v-checkbox
                    v-model="callStep.notifyFarm"
                    label="Informer l'éleveur"
                    disabled
                  ></v-checkbox>
                </v-flex>
                <v-flex shrink>
                  <v-select
                    v-if="callStep.notifyFarm"
                    label="Numéro de téléphone"
                    v-model="callStep.farmNumber"
                    :items="farmPhones"
                    single-line
                    disabled
                  ></v-select>
                </v-flex>
                <v-flex shrink>
                  <v-checkbox
                    v-model="callStep.notifyDriver"
                    label="informer le conducteur"
                    disabled
                  ></v-checkbox>
                </v-flex>
              </v-layout>
            </v-container>
            <v-btn flat @click="stage = 1">Retour</v-btn>
            <v-btn color="primary" @click="stage = 3" :disabled="!checkStep2()">
              Suivant
            </v-btn>
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-btn @click="createAnimalForm()" color="secondary">
              <v-icon left dark>add</v-icon>Ajouter un animal
            </v-btn>
            <v-container fluid>
              <v-layout column>
                <v-flex v-for="index in animalsStep.number" :key="index">
                  <AnimalForm
                    :animalIndex="index"
                    :callId="NumAppel"
                    :animalEdit="{}"
                    @is-ok="checkAnimal"
                    @created="createdAnimal"
                  ></AnimalForm>
                </v-flex>
              </v-layout>
            </v-container>
            <v-btn flat @click="stage = 2">Retour</v-btn>
            <v-btn color="primary" @click="sendCall()" :disabled="!conformity">
              Enregistrer
            </v-btn>
            <v-progress-circular
              v-if="isLoading"
              indeterminate
              color="accent"
            ></v-progress-circular>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card>
    <v-snackbar v-model="snack" :color="snackbarColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="snack = false">Fermer</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import Axios from "axios";
import moment from "moment-timezone";
import FarmDetails from "@/components/farms/FarmDetails";
import AnimalForm from "@/components/animals/AnimalForm";

export default {
  components: {
    FarmDetails,
    AnimalForm
  },
  data() {
    return {
      snack: false,
      snackbarColor: "error",
      snackMsg: "",
      stage: 0,
      isLoading: false,
      searchFarm: null,
      NumAppel: 0,
      conformity: false,
      animalsSent: false,
      farmStep: {
        farm: null,
        farmEntries: []
      },
      callStep: {
        dateMenu: false,
        date: new Date().toISOString().substring(0, 10),
        hour: this.getCurrentTime(),
        remarks: "",
        PASSSAP: false,
        moraspe: 1,
        typdoc: 1,
        autoVeto: false,
        transmis: false,
        dateTr: null,
        notifyFarm: true,
        notifyDriver: true,
        TTYGIS: 1,
        tour: null,
        farmNumber: null
      },
      animalsStep: {
        number: 1,
        animals: [0]
      }
    };
  },
  watch: {
    // If the search bar is activated, we check the farm entries.
    searchFarm() {
      if (this.farmStep.farmEntries.length > 0) return;
      if (this.isLoading) return;
      this.isLoading = true;
      Axios.get(process.env.VUE_APP_API_SERVICE + "installations", {
        params: {
          active: true
        }
      })
        .then(Response => {
          this.farmStep.farmEntries = Response.data;
        })
        .catch(ErrorEvent => console.log(ErrorEvent))
        .finally(() => (this.isLoading = false));
    },
    // If transmitted is set, we set the transmitted date.
    transmitted(val) {
      if (val) {
        this.callStep.dateTr = new Date();
      } else {
        this.callStep.dateTr = "";
      }
    },
    // If every animal is sent, we call it a day.
    animalsSent(val) {
      if (val) {
        this.isLoading = false;
        this.snack = true;
        this.snackbarColor = "success";
        this.snackMsg = "L'appel et les animaux ont été créés.";
        this.$router.push({ name: "calls" });
      }
    }
  },
  computed: {
    farmItems() {
      return this.farmStep.farmEntries.map(farm => {
        const description =
          farm.Prenom_Det +
          " " +
          farm.Nom_Det +
          " Ville : " +
          farm.Ville_Dom +
          " EDE : " +
          farm.EDEV2;
        return Object.assign({}, farm, { description });
      });
    },
    formattedDate() {
      return this.callStep.date
        ? moment(this.callStep.date).format("DD/MM/YYYY")
        : "";
    },
    transmitted() {
      return this.callStep.transmis;
    },
    numBon() {
      if (this.callStep.tour) {
        return this.callStep.tour.num_bon;
      }
      return "";
    },
    farmPhones() {
      var res = [];
      if (this.farmStep.farm) {
        if (this.farmStep.farm.Telephone1) {
          res.push({
            text: this.farmStep.farm.Telephone1,
            value: this.farmStep.farm.Telephone1.replace(/\s+/g, "")
          });
        }
        if (this.farmStep.farm.Portable1) {
          res.push({
            text: this.farmStep.farm.Portable1,
            value: this.farmStep.farm.Portable1.replace(/\s+/g, "")
          });
        }
        if (this.farmStep.farm.Portable2) {
          res.push({
            text: this.farmStep.farm.Portable2,
            value: this.farmStep.farm.Portable2.replace(/\s+/g, "")
          });
        }
      }
      return res;
    },
    title() {
      if (this.farmStep.farm) {
        return (
          "Nouvel appel pour " +
          this.farmStep.farm.Prenom_Det +
          " " +
          this.farmStep.farm.Nom_Det
        );
      } else {
        return "Nouvel appel";
      }
    }
  },
  asyncComputed: {
    moraspeList: {
      get() {
        return new Promise((resolve, reject) => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "moraspe/")
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => {
              console.log(ErrorEvent);
              reject(ErrorEvent);
            });
        });
      },
      default: []
    },
    typdocList: {
      get() {
        return new Promise((resolve, reject) => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "typdoc/")
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => {
              console.log(ErrorEvent);
              reject(ErrorEvent);
            });
        });
      },
      default: []
    },
    ttygisList: {
      get() {
        return new Promise((resolve, reject) => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "ttygis")
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => reject(ErrorEvent));
        });
      },
      default: []
    },
    toursList: {
      get() {
        return new Promise(resolve => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "tours")
            .then(Response => {
              const data = Response.data.map(item => {
                return {
                  text:
                    item.TIDTOUR +
                    " (" +
                    item.Immatriculation +
                    "), ref bon : " +
                    item.num_bon,
                  value: item.RefbonOnyx,
                  num_bon: item.num_bon
                };
              });
              resolve(data);
            })
            .catch(ErrorEvent => console.log(ErrorEvent));
        });
      },
      default: []
    }
  },
  methods: {
    // Goes to the second step of the call.
    goToStep2() {
      if (this.farmStep.farm !== null) {
        this.stage = 2;
      }
    },
    // Gets the current time.
    getCurrentTime() {
      var today = new Date();
      var time = today.toLocaleTimeString().substring(0, 5);
      return time;
    },
    // Transforms an hour representation to a date.
    hourToDate() {
      return moment.tz(this.callStep.hour, "HH:mm", "Indian/Reunion").toDate();
    },
    // Checks if the second step is completed.
    checkStep2() {
      return (
        this.callStep.hour !== "undefined" &&
        this.callStep.moraspe !== "" &&
        this.callStep.typdoc !== ""
      );
    },
    // Checks if the information given are OK.
    isConform() {
      this.conformity =
        this.farmStep.farm !== null &&
        this.checkStep2() &&
        this.animalsStep.animals.every(elt => elt >= 1);
    },
    // Checks if the animals are sent (if every element in the array is at 2)
    isSent() {
      this.animalsSent = this.animalsStep.animals.every(elt => elt === 2);
    },
    // Creates a new animal form.
    createAnimalForm() {
      this.animalsStep.number++;
      this.animalsStep.animals.push(0);
      this.isConform();
    },
    // Checks if the animal has the required information.
    checkAnimal(e) {
      e[1]
        ? (this.animalsStep.animals[e[0]] = 1)
        : (this.animalsStep.animals[e[0]] = 0);
      this.isConform();
    },
    // Check if the animal has been created correctly.
    createdAnimal(e) {
      e[1]
        ? (this.animalsStep.animals[e[0]] = 2)
        : (this.animalsStep.animals[e[0]] = 1);
      this.isSent();
    },
    // Sends the call to the database.
    sendCall() {
      this.isLoading = true;
      const sendData = {
        PASSSAP: this.callStep.PASSSAP ? 1 : null,
        TYPDOC: this.callStep.TYPDOC || 1,
        Date_Appel: new Date(this.callStep.date).toISOString(),
        Heure_Appel: this.hourToDate().toISOString(),
        TTYGIS: this.callStep.TTYGIS || 1,
        Id_Etablissement: this.farmStep.farm.Id_Etablissement,
        autorisation_veto: this.callStep.autoVeto ? -1 : 0,
        DAB: 0,
        Remarques: this.callStep.remarks || "",
        appel_tx_chauffeur: this.callStep.transmis ? -1 : 0,
        dte_autori_veto: this.callStep.autoVeto
          ? new Date().toISOString()
          : null,
        dte_appel_trans: this.callStep.transmis
          ? new Date().toISOString()
          : null,
        centre_trait_bon: 2,
        appel_auto: 0,
        MORASPE: this.callStep.MORASPE || 1
      };
      if (this.callStep.tour) {
        sendData.RefBonCtrait = this.callStep.tour.value;
      } else {
        sendData.RefBonCtrait = null;
      }
      Axios.post(process.env.VUE_APP_API_SERVICE + "calls", sendData)
        .then(Response => {
          if (Response.data.insertId) {
            this.NumAppel = Response.data.insertId;
          }
        })
        .catch(ErrorEvent => console.log(ErrorEvent));
    }
  },
  created() {
    this.$store
      .dispatch("getSpeciesNames")
      .then()
      .catch(ErrorEvent => console.log(ErrorEvent));
    this.$store
      .dispatch("getRacesNames")
      .then()
      .catch(ErrorEvent => console.log(ErrorEvent));
    this.$store
      .dispatch("getNatspan")
      .then()
      .catch(ErrorEvent => console.log(ErrorEvent));
    this.$store
      .dispatch("getINFID")
      .then()
      .catch(ErrorEvent => console.log(ErrorEvent));
    this.$store
      .dispatch("getDeathCauses")
      .then()
      .catch(ErrorEvent => console.log(ErrorEvent));
  },
  beforeDestroy() {
    this.farmStep.farmEntries = undefined;
    delete this.farmStep.farmEntries;
  }
};
</script>
