<template>
  <div id="call-details">
    <v-card>
      <v-card-title>
        <h2>Détails</h2>
        <v-spacer></v-spacer>
        <v-btn fab dark ripple color="secondary" @click.stop="editCall()">
          <v-icon dark>edit</v-icon>
        </v-btn>
      </v-card-title>
      <v-tabs slider-color="secondary">
        <v-tab ripple> Infos éleveur </v-tab>
        <v-tab-item>
          <FarmDetails
            v-if="showDetails"
            :farm="farmInfo"
            :showToolbar="false"
          ></FarmDetails>
        </v-tab-item>
        <v-tab ripple> Infos appel </v-tab>
        <v-tab-item>
          <CallDetailsCard v-if="showDetails" :callDetailed="call">
          </CallDetailsCard>
        </v-tab-item>
        <v-tab ripple> Infos animaux </v-tab>
        <v-tab-item>
          <div id="animals" v-if="showDetails">
            <v-expand-transition>
              <AnimalDetails
                v-for="animal in animals"
                :animalDetailed="animal"
                :key="animal.RefCollecte"
                @edit-animal="editAnimal"
              ></AnimalDetails>
            </v-expand-transition>
          </div>
        </v-tab-item>
      </v-tabs>
    </v-card>
    <v-snackbar v-model="snack" :color="snackbarColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="snack = false">
        Fermer
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import axios from "axios";
import FarmDetails from "@/components/farms/FarmDetails";
import CallDetailsCard from "@/components/calls/CallDetailsCard";
import AnimalDetails from "@/components/animals/AnimalDetails";

export default {
  props: {
    call: {}
  },
  data() {
    return {
      snack: false,
      snackbarColor: "error",
      snackMsg: "",
      farmInfo: {},
      animals: [],
      showDetails: false
    };
  },
  components: {
    FarmDetails,
    CallDetailsCard,
    AnimalDetails
  },
  watch: {
    call: {
      handler: "getCallInfos"
    }
  },
  methods: {
    // If the call is set, we retrieve the call infos
    getCallInfos() {
      this.showDetails = true;
      this.getFarmDetails();
      this.getAnimals();
    },
    // Retrieves the farm details
    getFarmDetails() {
      if (this.call.Id_Etablissement) {
        axios
          .get(
            process.env.VUE_APP_API_SERVICE +
              "installations/" +
              this.call.Id_Etablissement
          )
          .then(Response => {
            this.farmInfo = Response.data;
          })
          .catch(err => {
            this.snack = true;
            this.snackMsg = err;
            this.snackbarColor = "error";
          });
      }
    },
    // Retrieves the animals
    getAnimals() {
      axios
        .get(process.env.VUE_APP_API_SERVICE + "animals", {
          params: {
            NumAppel: this.call.NumAppel
          }
        })
        .then(Response => (this.animals = Response.data))
        .catch(err => {
          this.snack = true;
          this.snackMsg = err;
          this.snackbarColor = "error";
        });
    },
    editCall() {
      this.$emit("edit-call", this.call.NumAppel);
    },
    editAnimal(e) {
      this.$emit("edit-animal", e);
    }
  },
  beforeDestroy() {
    this.animals = undefined;
    delete this.animals;
  }
};
</script>
