<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="callsList"
      :loading="loading"
      :rows-per-page-items="[10, 25, 50]"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr @click.stop="callDetails(props.item.NumAppel)">
          <td>{{ props.item.NumAppel }}</td>
          <td>{{ props.item.DateTimeCall }}</td>
          <td>{{ props.item.farmName }}</td>
          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click.stop="markTransmitted(props.item.NumAppel)"
              >bookmark</v-icon
            >
            <v-icon
              small
              class="mr-2"
              @click.stop="editCall(props.item.NumAppel)"
              >edit</v-icon
            >
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-alert :value="true" color="info" icon="warning"
          >Aucun appel enregistré</v-alert
        >
      </template>
    </v-data-table>
    <v-dialog v-model="transmitDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Marquer transféré ?</v-card-title>
        <v-card-text>
          Voulez-vous vraiment marquer cet appel comme transféré le
          {{ new Date().toLocaleString() }} ?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="transmitDialog = false">
            Non
          </v-btn>
          <v-btn color="greed darken-1" flat @click="setTransmitted">Oui</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Axios from "axios";
export default {
  props: {
    callsList: Array
  },
  data() {
    return {
      loading: false,
      headers: [
        { text: "N° Appel", value: "NumAppel" },
        { text: "Date et heure", value: "DateTimeCall" },
        { text: "Éleveur", value: "farmName" },
        { text: "Actions", value: "NumAppel", sortable: false }
      ],
      transmitDialog: false,
      callIdToTransmit: null
    };
  },
  methods: {
    callDetails(c) {
      this.$router.push({ name: "CallDetails", params: { callId: c } });
    },
    editCall(c) {
      this.$router.push({ name: "callEdit", params: { callId: c } });
    },
    // Shows the popup dialog to marj a call as transmitted.
    markTransmitted(c) {
      this.callIdToTransmit = c;
      this.transmitDialog = true;
    },
    // Sets the call as transmitted.
    setTransmitted() {
      if (this.callIdToTransmit != null) {
        Axios.patch(
          process.env.VUE_APP_API_SERVICE + "calls/" + this.callIdToTransmit,
          {
            NumAppel: this.callIdToTransmit,
            appel_tx_chauffeur: -1,
            dte_appel_trans: new Date()
          }
        )
          .then(Response => {
            if (Response.status === 200) {
              this.snack = true;
              this.snackMsg = "Opération effectuée";
              this.snackbarColor = "success";
            }
          })
          .catch(err => {
            this.snack = true;
            this.snackMsg = err;
            this.snackbarColor = "error";
          })
          .finally(() => (this.transmitDialog = false));
      }
    }
  }
};
</script>
