<template>
  <v-card>
    <v-card-title primary-title>
      <h2>Collecte des bovins</h2>
      <v-spacer></v-spacer>
      <v-btn color="accent">
        <download-excel
          name="Collecte Bovins.xls"
          :data="cattleData"
          :fields="jsonFields"
          worksheet="Données"
        >
          <v-icon left>get_app</v-icon>Télécharger en Excel
        </download-excel>
      </v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Rechercher"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="cattleData"
      :loading="loading"
      :rows-per-page-items="[10, 25, 50]"
      :search="search"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr @click="showCallDetails(props.item.NumAppel)">
          <td>{{ props.item.NumAppel }}</td>
          <td>{{ props.item.datetimeCall }}</td>
          <td>{{ props.item.datetimeEnlev }}</td>
          <td>{{ props.item.Num_Certificat }}</td>
          <td>{{ props.item.farmInfos }}</td>
          <td>{{ props.item.phones }}</td>
          <td>{{ props.item.address }}</td>
          <td>{{ props.item.Espece }}</td>
          <td>{{ props.item.Sexe }}</td>
          <td>{{ props.item.Poids }}</td>
          <td>{{ props.item.Libelle }}</td>
          <td>{{ props.item.Cause_Mort }}</td>
          <td>{{ props.item.id }}</td>
          <td>{{ renderDAB(props.item) }}</td>
        </tr>
      </template>
      <template slot="no-results">
        <v-alert :value="true" color="error" icon="warning">
          La recherche pour "{{ search }}" n'a retourné aucun résultat.
        </v-alert>
      </template>
      <template slot="no-data">
        <v-alert :value="true" color="info" icon="warning">
          Aucune collecte effectuée pour la période.
        </v-alert>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  props: {
    cattleData: Array
  },
  data() {
    return {
      loading: false,
      search: null,
      headers: [
        { text: "N° Appel", value: "NumAppel" },
        { text: "Date&Heure", value: "datetimeCall" },
        { text: "Date&Heure enlèvement", value: "datetimeEnlev" },
        { text: "N° Certificat", value: "Num_Certificat" },
        { text: "Détenteur", value: "farmInfos" },
        { text: "Téléphones", value: "phones" },
        { text: "Adresse", value: "address" },
        { text: "Espèce", value: "Espece" },
        { text: "Sexe", value: "Sexe" },
        { text: "Poids", value: "Poids" },
        { text: "Catégorie", value: "Libelle" },
        { text: "Cause de mort", value: "Cause_Mort" },
        { text: "Identification", value: "id", sortable: false },
        { text: "DAB & ASDA", value: "DABSDA", sortable: false }
      ],
      jsonFields: {
        "N° Appel": "NumAppel",
        "Date&Heure appel": "datetimeCall",
        "Date&Heure enlèvement": "datetimeEnlev",
        "N° Certificat": "Num_Certificat",
        Détenteur: "farmInfos",
        Téléphones: "phones",
        Adresse: "address",
        Espèce: "Espece",
        Sexe: "Sexe",
        Poids: "Poids",
        Catégorie: "Libelle",
        Circonstances: "CircMort",
        "Causes de la mort": "Cause_Mort",
        Identification: "id",
        DAB: "hasDAB",
        "N° DAB": "NumDAB",
        "N° ASDA": "NumASDA"
      }
    };
  },
  methods: {
    showCallDetails(callId) {
      this.$emit("show-call", callId);
    },
    renderDAB(animal) {
      // If the passport is present but not registered in the database
      if (animal.Indicateur2 !== 0 && animal.NumDAB !== null) {
        return animal.DABSDA;
        // If the passport is present and in the database
      } else if (animal.Indicateur2 !== 0 && !animal.NumDAB) {
        return "DAB présent mais pas enregistré";
        // If the passport is not present
      } else {
        return "DAB absent";
      }
    }
  }
};
</script>
