<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <h2>Utilisateurs du système</h2>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Rechercher"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="loading"
        :search="search"
        :headers="headers"
        :items="data"
        :rows-per-page-items="[10, 25, 50]"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <tr @click="showUser(props.item.id)">
            <td>{{ props.item.lastname }}</td>
            <td>{{ props.item.firstname }}</td>
            <td>{{ props.item.pseudo }}</td>
            <td>{{ role(props.item.role) }}</td>
            <td class="justify-center">
              <v-icon small class="mr-2" @click="editUser(props.item.id)">
                edit
              </v-icon>
              <v-icon small @click.stop="deleteUser(props.item.id)">
                delete
              </v-icon>
            </td>
          </tr>
        </template>
        <template slot="no-results">
          <v-alert :value="true" color="error" icon="warning">
            La recherche pour "{{ search }}" n'a retourné aucun résultat.
          </v-alert>
        </template>
        <template slot="no-data">
          <v-alert :value="true" color="info" icon="warning">
            Aucun utilisateur enregistré.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="deleteDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Supprimer ?</v-card-title>
        <v-card-text>
          Voulez-vous vraiment supprimer cet utilisateur ? C'est irrécupérable.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="deleteDialog = false">
            Non
          </v-btn>
          <v-btn color="red darken-1" flat @click="trulyDelete">Oui</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snack" :color="snackbarColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="snack = false">
        Fermer
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import Axios from "axios";
export default {
  data() {
    return {
      loading: false,
      search: null,
      deleteDialog: false,
      headers: [
        { text: "Nom", value: "lastname" },
        { text: "Prénom", value: "firstname" },
        { text: "Pseudo", value: "pseudo", sortable: false },
        { text: "Rôle", value: "role" },
        { text: "Actions", value: "id", sortable: false }
      ],
      data: [],
      userToDelete: null,
      snack: false,
      snackbarColor: "error",
      snackMsg: null
    };
  },
  methods: {
    retrieveUsers() {
      this.loading = true;
      Axios.get(process.env.VUE_APP_API_SERVICE + "users")
        .then(Response => (this.data = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent))
        .finally(() => (this.loading = false));
    },
    showUser(id) {
      this.$emit("show-user", id);
    },
    role(userRole) {
      switch (userRole) {
        case 1:
          return "Vétérinaire";
        case 2:
          return "Chauffeur";
        case 3:
          return "Opérateur(-trice) de saisie";
        case 4:
          return "Administrateur";
        default:
          return "Non défini";
      }
    },
    editUser(id) {
      this.$emit("edit-user", id);
    },
    deleteUser(id) {
      this.deleteDialog = true;
      this.userToDelete = id;
    },
    trulyDelete() {
      this.deleteDialog = false;
      Axios.delete(
        process.env.VUE_APP_API_SERVICE + "users/" + this.userToDelete
      )
        .then(Response => {
          if (Response.status === 200) {
            this.snack = true;
            this.snackbarColor = "success";
            this.snackMsg = "L'utilisateur a été supprimé.";
          } else {
            this.snack = true;
            this.snackbarColor = "info";
            this.snackMsg =
              "Erreur " + Response.status + ". Réessayez ultérieurement.";
          }
        })
        .catch(ErrorEvent => {
          this.snack = true;
          this.snackbarColor = "success";
          this.snackMsg = ErrorEvent;
        })
        .finally(() => this.retrieveUsers());
    }
  },
  beforeMount() {
    this.retrieveUsers();
  },
  beforeDestroy() {
    this.data = [];
    delete this.data;
  }
};
</script>
