<template>
  <div>
    <v-form v-model="isValid" ref="UserForm">
      <v-container fluid>
        <v-layout row>
          <v-flex>
            <h3>
              Lors d'une modification, les mots de passe sont indisponibles.
            </h3>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex>
            <h2>Nom et prénom</h2>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="formData.lastname"
              :rules="[v => !!v || 'Le nom est requis']"
              label="Nom"
              required
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="formData.firstname"
              :rules="[v => !!v || 'Le prénom est requis']"
              label="Prénom"
              required
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="formData.pseudo"
              :rules="pseudoRules"
              label="Pseudo"
              hint="Le pseudo est requis pour se connecter."
              persistent-hint
              required
            ></v-text-field>
          </v-flex>
          <v-flex v-if="$store.getters.currentUser.role >= 4">
            <v-select
              v-model="formData.role"
              :items="roles"
              :rules="[v => !!v || 'Le rôle est requis']"
              label="Rôle"
              required
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout row v-if="user.id === undefined">
          <v-flex>
            <v-text-field
              v-model="formData.password"
              :append-icon="showPwd ? 'visibility' : 'visibility_off'"
              :rules="passwordRules"
              :type="showPwd ? 'text' : 'password'"
              label="Mot de passe"
              hint="Minimum 8 caractères"
              counter
              @click:append="showPwd = !showPwd"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="formData.pwdConfirmation"
              :append-icon="showConfirm ? 'visibility' : 'visibility_off'"
              :rules="confirmPwdRules"
              :type="showConfirm ? 'text' : 'password'"
              label="Mot de passe"
              hint="Doit correspondre au mot de passe"
              counter
              @click:append="showConfirm = !showConfirm"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex>
            <v-btn color="success" @click="save">
              Sauvegarder
            </v-btn>
            <v-progress-circular
              indeterminate
              color="secondary"
              v-if="loading"
            ></v-progress-circular>
          </v-flex>
          <v-flex v-if="user.id === undefined">
            <v-btn color="warning">
              Effacer
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
    <v-snackbar v-model="snack" :color="snackColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="snack = false">
        Fermer
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import Axios from "axios";
export default {
  props: {
    user: Object
  },
  data() {
    return {
      isValid: false,
      loading: false,
      snack: false,
      snackColor: "error",
      snackMsg: null,
      roles: [
        { text: "Vétérinaire", value: 1 },
        { text: "Chauffeur", value: 2 },
        { text: "Opérateur(-trice) de saisie", value: 3 },
        { text: "Administrateur", value: 4 }
      ],
      formData: {
        firstname: null,
        lastname: null,
        pseudo: null,
        role: null,
        password: "",
        pwdConfirmation: ""
      },
      usernames: [],
      pseudoRules: [
        v => !!v || "Le pseudo est requis.",
        v => !this.usernames.includes(v) || "Le pseudo doit être unique."
      ],
      passwordRules: [
        v => !!v || "Le mot de passe est requis.",
        v => v.length >= 8 || "Doit être supérieur à 8 caractères."
      ],
      confirmPwdRules: [
        v => !!v || "Le mot de passe ne peut pas être vide.",
        v =>
          this.formData.password === v ||
          "Les mots de passe ne correspondent pas."
      ],
      showPwd: false,
      showConfirm: false
    };
  },
  watch: {
    user: {
      handler: "populate",
      immediate: true
    }
  },
  methods: {
    save() {
      if (this.$refs.UserForm.validate()) {
        this.loading = true;
        let data = {
          firstname: this.formData.firstname,
          lastname: this.formData.lastname,
          pseudo: this.formData.pseudo,
          role: this.formData.role,
          password: this.formData.password
        };
        if (this.user.id) {
          data.id = this.user.id;
          delete data.password;
          Axios.patch(process.env.VUE_APP_API_SERVICE + "users/" + data.id)
            .then(Response => {
              if (Response.status === 200) {
                this.snack = true;
                this.snackMsg = "Modifié avec succès !";
                this.snackColor = "success";
                this.$store.commit("UPDATE_USER", data);
                this.reset();
              }
            })
            .catch(ErrorEvent => {
              this.snack = true;
              this.snackMsg = "Erreur : " + ErrorEvent;
              this.snackColor = "error";
            })
            .finally(() => (this.loading = false));
        } else if (this.$store.getters.currentUser.role >= 4) {
          console.log(data);
          Axios.post(process.env.VUE_APP_API_SERVICE + "users", data)
            .then(Response => {
              if (Response.status === 201) {
                this.snack = true;
                this.snackMsg = "Ajouté avec succès !";
                this.snackColor = "success";
                this.reset();
              }
            })
            .catch(ErrorEvent => {
              this.snack = true;
              this.snackMsg = "Erreur : " + ErrorEvent;
              this.snackColor = "error";
            })
            .finally(() => (this.loading = false));
        }
      }
    },
    reset() {
      this.$refs.UserForm.reset();
    },
    populate() {
      if (this.user.id) {
        this.formData.firstname = this.user.firstname;
        this.formData.lastname = this.user.lastname;
        this.formData.pseudo = this.user.pseudo;
        this.formData.role = this.user.role;
        this.formData.password = "888888888";
        this.formData.pwdConfirmation = "888888888";
        this.usernames = this.usernames.filter(
          item => item !== this.user.pseudo
        );
      }
    }
  },
  beforeCreate() {
    Axios.get(process.env.VUE_APP_API_SERVICE + "users")
      .then(Response => {
        this.usernames = [];
        for (const user of Response.data) {
          this.usernames.push(user.pseudo);
        }
      })
      .catch(ErrorEvent => console.log(ErrorEvent));
  }
};
</script>
