<template>
  <v-card>
    <v-card-title primary-title>
      <h2>Détails</h2>
      <v-spacer></v-spacer>
      <v-btn fab dark ripple color="secondary" @click.stop="editUser()">
        <v-icon dark>edit</v-icon>
      </v-btn>
    </v-card-title>
    <v-container fluid>
      <v-layout row>
        <v-flex>
          <h3>Nom et prénom</h3>
          {{ user.lastname }} {{ user.firstname }}
        </v-flex>
        <v-flex>
          <h3>Pseudo</h3>
          {{ user.pseudo }}
        </v-flex>
        <v-flex>
          <h3>Rôle</h3>
          {{ role }}
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: {
    user: Object
  },
  computed: {
    role() {
      switch (this.user.role) {
        case 1:
          return "Vétérinaire";
        case 2:
          return "Chauffeur";
        case 3:
          return "Opérateur(-trice) de saisie";
        case 4:
          return "Administrateur";
        default:
          return "Non défini";
      }
    }
  },
  methods: {
    editUser() {
      this.$emit("edit-user", this.user.id);
    }
  }
};
</script>
