<template>
  <v-container fluid>
    <v-layout row align-center justify-center>
      <v-flex>
        <v-btn color="primary" to="/eleveurs">
          Retour
        </v-btn>
        <v-btn color="secondary" @click.stop="editFarm()">
          Éditer
        </v-btn>
      </v-flex>
      <v-flex>
        <h1></h1>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex>
        <FarmDetails :farm="farm"></FarmDetails>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Axios from "axios";
import FarmDetails from "@/components/farms/FarmDetails.vue";

export default {
  components: {
    FarmDetails
  },
  data() {
    return {
      farm: {}
    };
  },
  computed: {
    title() {
      if (this.farm)
        return (
          "Détails de l'établissement " +
          this.farm.Prenom_Det +
          this.farm.Nom_Det
        );
      else return "Détais d'un établissement";
    }
  },
  beforeCreate() {
    const farmId = this.$route.params.farmId;
    if (this.$route.params.farmId) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "installations/" + farmId)
        .then(Response => (this.farm = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent));
    }
  },
  methods: {
    editFarm() {
      this.$router.push({
        name: "farmEdit",
        params: { farmId: this.farm.Id_Etablissement }
      });
    }
  }
};
</script>
