<template>
  <v-container fluid grid-list-xl>
    <v-layout row align-content-end>
      <v-flex>
        <v-btn dark top right color="error" to="/eleveurs">Annuler</v-btn>
      </v-flex>
      <v-flex>
        <h1>{{ title }}</h1>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex>
        <FarmForm :editFarm="farm"></FarmForm>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import FarmForm from "@/components/farms/FarmForm";
import Axios from "axios";

export default {
  components: {
    FarmForm
  },
  data() {
    return {
      farm: {}
    };
  },
  computed: {
    title() {
      if (this.farm.Nom_Det) return "Édition d'un établissement";
      else return "Création d'un établissement";
    }
  },
  beforeCreate() {
    const farmId = this.$route.params.farmId;
    if (this.$route.params.farmId) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "installations/" + farmId)
        .then(Response => (this.farm = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent));
    }
  }
};
</script>
