<template>
  <div>
    <v-container fluid grid-list-xl>
      <v-layout row>
        <v-flex>
          <v-btn color="primary" to="/eleveurs">Retour</v-btn>
        </v-flex>
        <v-flex>
          <v-menu
            ref="menu1"
            v-model="dateMenu1"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="formatMinDate"
                label="Date de début"
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              ref="picker"
              v-model="minDate"
              :max="new Date().toISOString().substr(0, 10)"
              min="2004-01-01"
              locale="fr-fr"
              first-day-of-week="1"
              @change="save1"
            ></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex>
          <v-menu
            ref="menu2"
            v-model="dateMenu2"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="formatMaxDate"
                label="Date de fin"
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              ref="picker"
              v-model="maxDate"
              :max="new Date().toISOString().substr(0, 10)"
              locale="fr-fr"
              first-day-of-week="1"
              :min="minDate"
              @change="save2"
            ></v-date-picker>
          </v-menu>
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex>
          <h2>
            Détails des enlèvements pour l'éleveur {{ farm.Nom_Det }}
            {{ farm.Prenom_Det }}
          </h2>
        </v-flex>
        <v-flex v-if="farm.EDEV2">
          <h3>EDE :</h3>
          {{ farm.EDEV2 }}
        </v-flex>
        <v-flex>
          <h3>SIRET :</h3>
          {{ farm.SIRETV2 }}
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex>
          <FarmAnimalsTable
            :farmData="farmData"
            :minDate="minDate"
            :maxDate="maxDate"
          ></FarmAnimalsTable>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import FarmAnimalsTable from "@/components/farms/FarmAnimalsTable";
import Axios from "axios";
import moment from "moment";

export default {
  components: {
    FarmAnimalsTable
  },
  data() {
    return {
      farm: {},
      dateMenu1: false,
      dateMenu2: false,
      minDate: null,
      maxDate: new Date().toISOString().substr(0, 10)
    };
  },
  computed: {
    farmData() {
      return {
        Id_Etablissement: this.farm.Id_Etablissement,
        farmName: this.farm.Nom_Det + " " + this.farm.Prenom_Det,
        EDE: this.farm.EDEV2,
        SIRET: this.farm.SIRETV2
      };
    },
    formatMinDate() {
      return this.minDate ? moment(this.minDate).format("DD/MM/YYYY") : "";
    },
    formatMaxDate() {
      return this.maxDate ? moment(this.maxDate).format("DD/MM/YYYY") : "";
    }
  },
  methods: {
    save1(date) {
      this.$refs.menu1.save(date);
    },
    save2(date) {
      this.$refs.menu2.save(date);
    }
  },
  watch: {
    dateMenu1(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    },
    dateMenu2(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  },
  beforeCreate() {
    const farmId = this.$route.params.farmId;
    if (this.$route.params.farmId) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "installations/" + farmId)
        .then(Response => (this.farm = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent));
    }
  }
};
</script>
