<template>
  <div id="farm-vue">
    <v-container fluid grid-list-xl>
      <v-layout row align-content-end>
        <v-flex>
          <v-btn dark top right color="secondary" to="/eleveurs/nouveau">
            Nouvel établissement
          </v-btn>
        </v-flex>
        <v-flex>
          <h1>Établissements</h1>
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex>
          <FarmsTable
            @farm-details="showFarmDetails"
            @edit-farm="editFarm"
            @farm-animals="farmAnimals"
          ></FarmsTable>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import FarmsTable from "@/components/farms/FarmsTable.vue";

export default {
  components: {
    FarmsTable
  },
  methods: {
    showFarmDetails(e) {
      this.$router.push({ name: "farmDetails", params: { farmId: e } });
    },
    editFarm(e) {
      this.$router.push({ name: "farmEdit", params: { farmId: e } });
    },
    farmAnimals(e) {
      this.$router.push({ name: "farmAnimals", params: { farmId: e } });
    }
  }
};
</script>
