<template>
  <div>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex>
          <v-btn color="primary" @click="changeContent()">
            {{ btnText }}
          </v-btn>
        </v-flex>
        <v-flex>
          <h1>Anomalies</h1>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex v-show="!showEDI">
          <GeneralAnomalies @show-call="showCall"></GeneralAnomalies>
        </v-flex>
        <v-flex v-show="showEDI">
          <EDIAnomalies @show-call="showCall"></EDIAnomalies>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog v-model="showDetails" max-width="800">
      <CallDetails :call="call" @edit-call="editCall"></CallDetails>
    </v-dialog>
  </div>
</template>

<script>
import Axios from "axios";
import GeneralAnomalies from "@/components/anomalies/GeneralAnomalies.vue";
import EDIAnomalies from "@/components/anomalies/EDIAnomalies";
import CallDetails from "@/components/calls/CallDetails";

export default {
  components: {
    GeneralAnomalies,
    EDIAnomalies,
    CallDetails
  },
  data() {
    return {
      showDetails: false,
      call: {},
      btnText: "Anomalies EDI",
      showEDI: false
    };
  },
  methods: {
    showCall(e) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "calls/" + e)
        .then(Response => {
          this.call = Response.data;
          this.showDetails = true;
        })
        .catch(ErrorEvent => console.log(ErrorEvent));
    },
    editCall(e) {
      this.$router.push({ name: "callEdit", params: { callId: e } });
    },
    changeContent() {
      this.showEDI = !this.showEDI;
      this.showEDI
        ? (this.btnText = "Anomalies générales")
        : (this.btnText = "Anomalies EDI");
    }
  }
};
</script>
