<template>
  <div id="animal-details">
    <v-card flat>
      <v-card-title>
        <h3>Animal n° {{ animalDetailed.RefCollecte }}</h3>
        <v-spacer></v-spacer>
        <v-btn flat icon color="secondary" @click.stop="editAnimal()">
          <v-icon>edit</v-icon>
        </v-btn>
      </v-card-title>
      <v-container fluid grid-list-xl>
        <v-layout row wrap>
          <v-flex>
            {{ animalDetailed.Espece }}
          </v-flex>
          <v-flex
            v-if="animalDetailed.Nbre !== null && animalDetailed.Nbre > 1"
          >
            Nombre d'animaux du lot : {{ animalDetailed.Nbre }}
          </v-flex>
          <v-flex v-if="animalDetailed.Race !== null">
            Race : {{ race }}
          </v-flex>
          <v-flex> CATMAT : {{ animalDetailed.CATMAT }} </v-flex>
          <v-flex>NATSPAN : {{ natspan }}</v-flex>
          <v-flex v-if="animalDetailed.Sexe !== null">
            {{ animalDetailed.Sexe }}
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>Poids : {{ animalDetailed.Poids }} kg</v-flex>
          <v-flex>{{ esespoi }} </v-flex>
          <v-flex v-if="animalDetailed.TYPROD !== null">
            Type de production : {{ animalDetailed.TYPROD }}
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <h4>Identification</h4>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>{{ identification }}</v-flex>
          <v-flex v-if="animalDetailed.Identification1 !== null">
            Boucle : {{ indic1 }}
          </v-flex>
          <v-flex v-if="animalDetailed.Identification2 !== null">
            Passeport : {{ indic2 }}
          </v-flex>
          <v-flex v-if="animalDetailed.NumDAB !== null">
            Numéro DAB : {{ animalDetailed.NumDAB }}
          </v-flex>
          <v-flex v-if="animalDetailed.NumASDA !== null">
            Numéro ASDA : {{ animalDetailed.NumASDA }}
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <h4>Autres informations</h4>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>{{ congele }}</v-flex>
          <v-flex>{{ nonEnlevement }}</v-flex>
          <v-flex v-if="animalDetailed.DteNaiss !== null">
            Date de naissance : {{ birthDate }}
          </v-flex>
          <v-flex>{{ spe }}</v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex><h4>Épidémiologie</h4></v-flex>
          <v-flex v-if="animalDetailed.Cause_Mort !== null">
            Cause de mortalité : {{ animalDetailed.Cause_Mort }}
          </v-flex>
          <v-flex v-if="animalDetailed.CircMort !== null">
            Circonstances de la mort : {{ animalDetailed.CircMort }}
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <v-divider></v-divider>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: {
    animalDetailed: {}
  },
  data: function() {
    return {
      snackbar: false,
      snackColor: "error",
      snackMsg: ""
    };
  },
  asyncComputed: {
    race() {
      return new Promise(resolve => {
        if (this.animalDetailed.Race !== null) {
          axios
            .get(
              process.env.VUE_APP_API_SERVICE +
                "races/" +
                this.animalDetailed.Race
            )
            .then(Response => resolve(Response.data.NomRace))
            .catch(ErrorEvent => {
              this.snackbar = true;
              this.snackColor = "error";
              this.snackMsg = ErrorEvent;
              resolve("Impossible d'afficher la race");
            });
        } else {
          resolve("Pas de race à afficher");
        }
      });
    },
    natspan() {
      return new Promise(resolve => {
        if (this.animalDetailed.NATSPAN !== null) {
          axios
            .get(
              process.env.VUE_APP_API_SERVICE +
                "natspan/" +
                this.animalDetailed.NATSPAN
            )
            .then(Response =>
              resolve(Response.data.Libelle + " (" + Response.data.Sigle + ")")
            )
            .catch(ErrorEvent => {
              this.snackbar = true;
              this.snackColor = "error";
              this.snackMsg = ErrorEvent;
              resolve("Impossible d'afficher le NATSPAN");
            });
        } else {
          resolve("Pas de NATSPAN enregistré.");
        }
      });
    },
    indic1() {
      return new Promise(resolve => {
        if (this.animalDetailed.Indicateur1 !== null) {
          axios
            .get(
              process.env.VUE_APP_API_SERVICE +
                "infid/indic1/" +
                this.animalDetailed.Indicateur1
            )
            .then(Response => resolve(Response.data.Libelle))
            .catch(ErrorEvent => {
              this.snackbar = true;
              this.snackColor = "error";
              this.snackMsg = ErrorEvent;
              resolve("Impossible d'afficher l'indicateur 1'");
            });
        } else {
          resolve("Pas d'indicateur 1 enregistré.");
        }
      });
    },
    indic2() {
      return new Promise(resolve => {
        if (this.animalDetailed.Indicateur2 !== null) {
          axios
            .get(
              process.env.VUE_APP_API_SERVICE +
                "infid/indic2/" +
                this.animalDetailed.Indicateur2
            )
            .then(Response => resolve(Response.data.Libelle))
            .catch(ErrorEvent => {
              this.snackbar = true;
              this.snackColor = "error";
              this.snackMsg = ErrorEvent;
              resolve("Impossible d'afficher l'indicateur 2'");
            });
        } else {
          resolve("Pas d'indicateur 2 enregistré.");
        }
      });
    }
  },
  computed: {
    esespoi() {
      switch (this.animalDetailed.ESESPOI) {
        case "1":
          return "Pesée sur place";
        case "2":
          return "Estimation à partir d'abaques";
        case "3":
          return "Estimation contradictoire avec le détenteur ou le propriétaire";
        default:
          return "Pas d'estimation associée.";
      }
    },
    identification() {
      var result = "";
      if (this.animalDetailed.PasDIdentifiant === -1) {
        result = "Cet animal n'a pas d'identification.";
      } else {
        result += this.animalDetailed.CodePaysNumAnimal || "";
        result += this.animalDetailed.Identification_BV || "";
      }
      return result;
    },
    congele() {
      if (this.animalDetailed.congele === 0) {
        return "Non congelé";
      } else {
        return "Congelé";
      }
    },
    nonEnlevement() {
      if (this.animalDetailed.NonEnlevement !== 0) {
        return (
          "Non enlèvement. Numéro : " +
          this.animalDetailed.NumNonEnlevent +
          ", Remarques : " +
          this.animalDetailed.NoteNonEnlevement
        );
      } else if (this.animalDetailed.NoteNonEnlevement) {
        return this.animalDetailed.NoteNonEnlevement;
      } else {
        return "";
      }
    },
    birthDate() {
      return new Date(this.animalDetailed.DteNaiss).toLocaleDateString();
    },
    spe() {
      switch (this.animalDetailed.SPE) {
        case 1:
          return "SPE dans le marché";
        case 2:
          return "SPE hors marché";
        case 3:
          return "Non SPE";
        default:
          return "SPE non défini";
      }
    }
  },
  methods: {
    editAnimal() {
      this.$emit("edit-animal", this.animalDetailed.RefCollecte);
    }
  }
};
</script>
