<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <h3 v-if="animalIndex !== -1">Animal {{ animalIndex }}</h3>
        <v-spacer></v-spacer>
        <v-btn
          v-if="animalEdit.RefCollecte !== undefined"
          fab
          dark
          ripple
          color="warning"
          @click="cancel()"
        >
          <v-icon dark>backspace</v-icon>
        </v-btn>
        <v-btn
          v-if="animalEdit.RefCollecte !== undefined"
          fab
          dark
          ripple
          color="secondary"
          :loading="loading"
          @click="sendAnimalData()"
        >
          <v-icon dark>save</v-icon>
        </v-btn>
      </v-card-title>
      <v-container fluid grid-list-xl>
        <v-layout row wrap>
          <v-flex>
            <v-select
              v-model="formData.species"
              :items="speciesList"
              label="Espèce"
              single-line
              return-object
            ></v-select>
          </v-flex>
          <v-flex v-show="isBovinType">
            <v-select
              v-model="formData.race"
              :items="racesList"
              label="Race"
              single-line
            ></v-select>
          </v-flex>
          <v-flex v-show="!isBovinType">
            <v-text-field
              type="number"
              label="Nombre"
              v-model="formData.number"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-select
              v-model="formData.sex"
              :items="sexList"
              label="Sexe"
              single-line
            ></v-select>
          </v-flex>
          <v-flex>
            <v-menu
              ref="menu"
              v-model="datePicker"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="formattedDate"
                  label="Date de naissance"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="formData.birthDate"
                :max="new Date().toISOString().substr(0, 10)"
                min="1950-01-01"
                locale="fr-fr"
                first-day-of-week="1"
                @change="save"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex srink>
            <v-select
              v-model="formData.CATMAT"
              :items="catmatList"
              label="CATMAT"
              hint="CATMAT, par défaut 1"
              persistent-hint
              single-line
            ></v-select>
          </v-flex>
          <v-flex>
            <v-switch
              v-model="formData.freezed"
              label="Congelé"
              color="secondary"
            ></v-switch>
          </v-flex>
          <v-flex>
            <v-autocomplete
              v-model="formData.NATSPAN"
              :items="natspanList"
              label="NATSPAN"
              single-line
            ></v-autocomplete>
          </v-flex>
          <v-expand-x-transition>
            <v-flex v-show="isBovinType">
              <v-select
                v-model="formData.TYPROD"
                :items="typrodList"
                label="TYPROD"
                hint="Optionnel"
                persistent-hint
                single-line
              ></v-select>
            </v-flex>
          </v-expand-x-transition>
          <v-flex>
            <v-select
              v-model="formData.SPE"
              :items="SPEList"
              label="SPE"
              hint="SPE dans le marché ou non"
              persistent-hint
              single-line
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <v-select
              v-model="formData.ESESPOI"
              :items="esespoiList"
              label="ESESPOI"
              hint="Estimation du poids"
              persistent-hint
              single-line
            ></v-select>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="formData.weight"
              label="Poids"
              suffix="kg"
              type="number"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex>
            <v-select
              v-model="formData.CircMort"
              :items="circList"
              label="Circonstances de la mort"
              single-line
            ></v-select>
          </v-flex>
          <v-flex>
            <v-autocomplete
              v-model="formData.RefCauseMort"
              :items="deathCausesList"
              label="Causes de la mort"
              single-line
            ></v-autocomplete>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <h4>Indentification</h4>
          </v-flex>
          <v-flex>
            <v-switch v-model="formData.hasId" label="Possède un ID"></v-switch>
          </v-flex>
          <v-expand-x-transition>
            <v-flex v-show="isBovinType && formData.hasId">
              <v-text-field
                v-model="formData.CC"
                mask="AA"
                label="Code pays"
                hint="Code pays en 2 lettres majuscules"
                persistent-hint
              ></v-text-field>
            </v-flex>
          </v-expand-x-transition>
          <v-expand-x-transition>
            <v-flex v-show="formData.hasId">
              <v-text-field
                v-model="formData.identification"
                label="Identification de l'animal ou du lot"
                hint="10 chiffres pour les bovins"
                persistent-hint
              ></v-text-field>
            </v-flex>
          </v-expand-x-transition>
          <v-expand-x-transition>
            <v-flex v-show="isBovinType">
              <v-select
                v-model="formData.indic1"
                :items="indic1List"
                label="Indicateur 1"
                hint="Boucles"
                persistent-hint
                single-line
              ></v-select>
            </v-flex>
          </v-expand-x-transition>
          <v-expand-x-transition>
            <v-flex v-show="isBovinType">
              <v-select
                v-model="formData.indic2"
                :items="indic2List"
                label="Indicateur 2"
                hint="Passeport"
                persistent-hint
                single-line
              ></v-select>
            </v-flex>
          </v-expand-x-transition>
          <v-expand-x-transition>
            <v-flex v-show="!isBovinType">
              <v-select
                v-model="formData.otherINFID"
                :items="otherINFIDList"
                label="Problèmes d'identification"
                hint="Pour des espèces différentes"
                persistent-hint
                single-line
              ></v-select>
            </v-flex>
          </v-expand-x-transition>
        </v-layout>
        <v-expand-transition>
          <v-layout v-show="formData.indic2 === 1">
            <v-flex>
              <v-text-field
                v-model="formData.numDAB"
                label="DAB"
                hint="Copiable depuis le code barre sur le passeport"
                persistent-hint
              ></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field
                v-model="formData.numASDA"
                label="ASDA"
                hint="Copiable depuis le code barre sur le passeport"
                persistent-hint
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-expand-transition>
        <v-layout row wrap>
          <v-flex>
            <v-switch
              v-model="formData.notTaken"
              label="Non enlèvement"
            ></v-switch>
          </v-flex>
          <v-expand-transition>
            <v-flex v-show="formData.notTaken">
              <v-text-field
                v-model="formData.numNotTaken"
                label="Numéro de non enlèvement"
                type="number"
              ></v-text-field>
            </v-flex>
          </v-expand-transition>
          <v-expand-transition>
            <v-flex v-show="formData.notTaken">
              <v-text-field
                v-model="formData.noteNotTaken"
                label="Note de non enlèvement"
              ></v-text-field>
            </v-flex>
          </v-expand-transition>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";
import Axios from "axios";

export default {
  props: {
    animalIndex: Number,
    callId: Number,
    animalEdit: Object
  },
  data() {
    return {
      loading: false,
      datePicker: false,
      sexList: ["Mâle", "Femelle"],
      catmatList: [1, 2, 3],
      typrodList: [
        { text: "Viande", value: "V" },
        { text: "Lait", value: "L" }
      ],
      esespoiList: [
        { text: "Pesée sur place", value: 1 },
        { text: "Estimation à partir d'abaques", value: 2 },
        {
          text:
            "Estimation contradictoire avec le détenteur ou le propriétaire",
          value: 3
        }
      ],
      SPEList: [
        { text: "SPE dans le marché", value: 1 },
        { text: "SPE hors marché", value: 2 },
        { text: "Non SPE", value: 3 }
      ],
      circList: [
        { text: "Euthanasie", value: "Euthanasie" },
        { text: "Mort naturelle", value: "Mort naturelle" },
        { text: "Mort subite", value: "Mort subite" },
        { text: "Mort violente", value: "Mort violente" }
      ],
      formData: {
        species: {},
        race: "",
        number: 1,
        sex: "",
        birthDate: null,
        CATMAT: 1,
        NATSPAN: null,
        TYPROD: "",
        ESESPOI: 2,
        weight: "",
        freezed: false,
        SPE: 1,
        hasId: true,
        CC: "FR",
        identification: "",
        otherINFID: "",
        indic1: "",
        indic2: "",
        numDAB: "",
        numASDA: "",
        notTaken: false,
        numNotTaken: "",
        noteNotTaken: "",
        RefCauseMort: null,
        CircMort: null
      }
    };
  },
  watch: {
    datePicker(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    },
    species() {
      this.verifyInfos();
    },
    natspan() {
      this.verifyInfos();
    },
    callId(val) {
      if (val !== 0) {
        this.sendAnimalData();
      }
    },
    animalEdit: {
      handler: "populateForm",
      immediate: true
    }
  },
  computed: {
    isBovin() {
      if (this.formData.species.text !== undefined)
        return this.formData.species.text.toLowerCase() === "bovins";
      return false;
    },
    isBovinType() {
      if (this.formData.species.text !== undefined) {
        return (
          this.formData.species.text.toLowerCase() === "bovins" ||
          this.formData.species.text.toLowerCase() === "veaux"
        );
      } else {
        return false;
      }
    },
    formattedDate() {
      return this.formData.birthDate
        ? moment(this.formData.birthDate).format("DD/MM/YYYY")
        : "";
    },
    species() {
      return this.formData.species;
    },
    natspan() {
      return this.formData.NATSPAN;
    },
    ...mapState({
      speciesList: "speciesNames",
      racesList: "racesNames",
      natspanList: "natspanNames",
      otherINFIDList: "otherINFID",
      indic1List: "indic1",
      indic2List: "indic2",
      deathCausesList: "deathCauses"
    })
  },
  methods: {
    save(date) {
      this.$refs.menu.save(date);
    },
    verifyInfos() {
      if (this.formData.species.value === undefined) {
        this.$emit("is-ok", [this.animalIndex - 1, false]);
        return;
      } else {
        this.$emit("is-ok", [this.animalIndex - 1, true]);
      }
    },
    sendAnimalData() {
      this.loading = true;
      const animalData = {
        Espece: this.formData.species.text,
        CATMAT: this.formData.CATMAT || 1,
        Race: this.formData.race || null,
        NATSPAN: this.formData.NATSPAN,
        ESESPOI: this.formData.ESESPOI || 2,
        TYPROD: this.formData.TYPROD || null,
        SPE: this.formData.SPE || 1,
        Sexe: this.formData.sex || null,
        Nbre: this.isBovinType ? 1 : this.formData.number || null,
        Poids: this.formData.weight || null,
        POIEF: null,
        CodePaysNumAnimal: this.formData.CC || null,
        Identification_BV: this.formData.identification || null,
        PasDIdentifiant: this.formData.hasId ? 0 : -1,
        Indicateur1: this.formData.indic1 || null,
        Indicateur2: this.formData.indic2 || 0,
        DAB: 0,
        congele: this.formData.freezed ? -1 : 0,
        NonEnlevement: this.formData.notTaken ? -1 : 0,
        NumNonEnlevent: this.formData.numNotTaken || null,
        NoteNonEnlevement: this.formData.noteNotTaken || null,
        NumAppel: this.callId,
        DteNaiss: this.formData.birthDate
          ? new Date(this.formData.birthDate).toISOString()
          : null,
        NumDAB: this.formData.numDAB || null,
        NumASDA: this.formData.numASDA || null,
        RefCauseMort: this.formData.RefCauseMort || null,
        CircMort: this.formData.CircMort || null
      };
      const causeMort = this.deathCausesList.find(
        i => i.value === this.formData.RefCauseMort
      );
      causeMort ? (animalData.Cause_Mort = causeMort.text) : null;
      if (
        this.callId !== 0 &&
        this.formData.species.text &&
        this.formData.NATSPAN
      ) {
        // If it's a create case
        if (this.animalEdit.RefCollecte === undefined) {
          Axios.post(process.env.VUE_APP_API_SERVICE + "animals", animalData)
            .then(Response => {
              if (Response.data.insertId) {
                this.$emit("created", [this.animalIndex - 1, true]);
              } else {
                this.$emit("created", [this.animalIndex - 1, false]);
              }
            })
            .catch(ErrorEvent => {
              this.$emit("created", [this.animalIndex - 1, false]);
              console.log(ErrorEvent);
            })
            .finally(() => (this.loading = false));
        }
        // If it's an edit case
      } else if (
        this.animalIndex === -1 &&
        this.formData.species.text &&
        this.formData.NATSPAN
      ) {
        if (this.animalEdit.RefCollecte !== undefined) {
          delete animalData.NumAppel;
          animalData.RefCollecte = this.animalEdit.RefCollecte;
          Axios.patch(
            process.env.VUE_APP_API_SERVICE +
              "animals/" +
              this.animalEdit.RefCollecte,
            animalData
          )
            .then(Response => {
              if (Response.data.affectedRows) {
                this.$emit("edited", true);
              } else {
                this.$emit("edited", false);
              }
            })
            .catch(ErrorEvent => {
              this.$emit("edited", false);
              console.log(ErrorEvent);
            })
            .finally(() => (this.loading = false));
        }
      }
    },
    populateForm() {
      if (this.animalEdit.RefCollecte) {
        this.formData.species = this.speciesList.find(
          elt => elt.text === this.animalEdit.Espece
        );
        this.formData.race = this.animalEdit.Race || "";
        this.formData.number = this.animalEdit.Nbre || 1;
        this.formData.sex = this.animalEdit.Sexe;
        this.formData.birthDate =
          this.animalEdit.DteNaiss !== null
            ? new Date(this.animalEdit.DteNaiss).toISOString().substring(0, 10)
            : null;
        this.formData.CATMAT = this.animalEdit.CATMAT;
        this.formData.NATSPAN = this.animalEdit.NATSPAN;
        this.formData.TYPROD = this.animalEdit.TYPROD || "";
        this.formData.ESESPOI = this.animalEdit.ESESPOI;
        this.formData.weight = this.animalEdit.Poids;
        this.formData.freezed = this.animalEdit.congele !== 0 ? true : false;
        this.formData.SPE = this.animalEdit.SPE;
        this.formData.hasId =
          this.animalEdit.PasDIdentifiant !== 0 ? false : true;
        this.formData.CC = this.animalEdit.CodePaysNumAnimal;
        this.formData.identification = this.animalEdit.Identification_BV;
        this.formData.otherINFID = this.animalEdit.INFID || "";
        this.formData.indic1 = this.animalEdit.Indicateur1 || "";
        this.formData.indic2 = this.animalEdit.Indicateur2 || "";
        this.formData.numDAB = this.animalEdit.numDAB || "";
        this.formData.numASDA = this.animalEdit.numASDA || "";
        this.formData.notTaken =
          this.animalEdit.NonEnlevement !== 0 ? true : false;
        this.formData.numNotTaken = this.animalEdit.NumNonEnlevent || "";
        this.formData.noteNotTaken = this.animalEdit.NoteNonEnlevement || "";
        this.formData.CircMort = this.animalEdit.CircMort || null;
        this.formData.RefCauseMort = this.animalEdit.RefCauseMort || null;
      }
    },
    cancel() {
      this.$emit("edited", true);
    }
  }
};
</script>
