<template>
  <div id="call-vue">
    <v-container fluid grid-list-xl>
      <v-layout align-end row>
        <v-flex>
          <v-btn color="primary" to="/appels/nouveau">
            <v-icon left dark>create</v-icon>
            Nouvel appel
          </v-btn>
        </v-flex>
        <v-flex>
          <h1>Appels</h1>
        </v-flex>
        <v-flex>
          <v-btn color="secondary" to="/rapports/appels-enleves">
            Voir les enlèvements
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout align-content-end fill-height row>
        <v-flex grow>
          <CallsTable></CallsTable>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import CallsTable from "@/components/calls/CallsTable.vue";

export default {
  components: {
    CallsTable
  }
};
</script>
