<template>
  <v-container fluid grid-list-xl>
    <v-layout row wrap>
      <v-flex align-self-end>
        <v-btn color="primary" to="/appels">
          <v-icon left dark>arrow_back</v-icon>
          Retour
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout fluid fill-height row wrap>
      <v-flex grow pa-1>
        <CallForm></CallForm>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import CallForm from "@/components/calls/CallForm";
export default {
  components: {
    CallForm
  }
};
</script>
