<template>
  <div>
    <v-container fluid grid-list-xl>
      <v-layout row wrap>
        <v-flex>
          <v-btn color="primary" @click="$router.go(-1)">
            <v-icon left dark>arrow_back</v-icon>Retour
          </v-btn>
        </v-flex>
        <v-flex>
          <h1>Édition de l'appel {{ call.NumAppel }}</h1>
        </v-flex>
        <v-flex>
          <v-btn color="secondary" to="/appels">
            Aller aux appels
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout fluid fill-height row wrap>
        <v-flex grow pa-1>
          <CallFormEdit
            :call="call"
            v-if="call.NumAppel !== undefined"
            @edit-animal="editAnimal"
          ></CallFormEdit>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog v-model="editAnimalDialog" persistent max-width="800px">
      <AnimalForm
        :animalIndex="-1"
        :callId="0"
        :animalEdit="editedAnimal"
        v-show="editAnimalDialog"
        @edited="endAnimalEd"
      ></AnimalForm>
    </v-dialog>
  </div>
</template>

<script>
import CallFormEdit from "@/components/calls/CallFormEdit";
import AnimalForm from "@/components/animals/AnimalForm";
import Axios from "axios";

export default {
  components: {
    CallFormEdit,
    AnimalForm
  },
  data() {
    return {
      callId: "",
      call: {},
      editAnimalDialog: false,
      editedAnimal: {}
    };
  },
  methods: {
    goToMain() {
      this.$router.push({ name: "calls" });
    },
    editAnimal(e) {
      this.$store
        .dispatch("getSpeciesNames")
        .then(() => this.$store.dispatch("getRacesNames"))
        .then(() => this.$store.dispatch("getNatspan"))
        .then(() => this.$store.dispatch("getINFID"))
        .then(() => this.$store.dispatch("getDeathCauses"))
        .then(() => Axios.get(process.env.VUE_APP_API_SERVICE + "animals/" + e))
        .then(Response => {
          this.editedAnimal = Response.data;
          this.editAnimalDialog = true;
        })
        .catch(ErrorEvent => console.log(ErrorEvent));
    },
    endAnimalEd(e) {
      if (e) this.editAnimalDialog = false;
    }
  },
  beforeCreate() {
    this.callId = this.$route.params.callId;
    if (this.callId) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "calls/" + this.callId)
        .then(Response => (this.call = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent));
    }
  },
  beforeDestroy() {
    this.call = {};
    delete this.call;
  }
};
</script>
