<template>
  <div>
    <v-container fluid grid-list-xl>
      <v-layout row>
        <v-flex>
          <v-btn color="primary" @click="$router.go(-1)">
            <v-icon left dark>arrow_back</v-icon>Retour
          </v-btn>
        </v-flex>
        <v-flex>
          <h1>Détails de l'appel {{ detailedCall.NumAppel }}</h1>
        </v-flex>
      </v-layout>
      <v-layout justifi-space-between>
        <v-flex>
          <CallDetails
            :call="detailedCall"
            @edit-call="editCall"
            @edit-animal="editAnimal"
          ></CallDetails>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-expand-transition>
          <v-flex v-if="editAnimalDialog">
            <AnimalForm
              :animalIndex="-1"
              :callId="0"
              :animalEdit="editedAnimal"
              v-show="editAnimalDialog"
              @edited="endAnimalEd"
            ></AnimalForm>
          </v-flex>
        </v-expand-transition>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import CallDetails from "@/components/calls/CallDetails.vue";
import AnimalForm from "@/components/animals/AnimalForm.vue";
import Axios from "axios";

export default {
  components: {
    CallDetails,
    AnimalForm
  },
  data() {
    return {
      detailedCall: {},
      editedAnimal: {},
      editAnimalDialog: false
    };
  },
  methods: {
    editAnimal(e) {
      this.$store
        .dispatch("getSpeciesNames")
        .then(() => this.$store.dispatch("getRacesNames"))
        .then(() => this.$store.dispatch("getNatspan"))
        .then(() => this.$store.dispatch("getINFID"))
        .then(() => this.$store.dispatch("getDeathCauses"))
        .then(() => Axios.get(process.env.VUE_APP_API_SERVICE + "animals/" + e))
        .then(Response => {
          this.editedAnimal = Response.data;
          this.editAnimalDialog = true;
        })
        .catch(ErrorEvent => console.log(ErrorEvent));
    },
    endAnimalEd(e) {
      if (e) this.editAnimalDialog = false;
    },
    editCall(e) {
      this.$router.push({ name: "callEdit", params: { callId: e } });
    }
  },
  beforeCreate() {
    const callId = this.$route.params.callId;
    if (callId) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "calls/" + callId)
        .then(Response => (this.detailedCall = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent));
    }
  }
};
</script>
