<template>
  <v-container fluid>
    <v-layout>
      <v-flex>
        <v-btn color="primary" @click="$router.go(-1)">
          <v-icon left dark>arrow_back</v-icon>Retour
        </v-btn>
      </v-flex>
      <v-flex>
        <h1>Détails de la tournée {{ tour.TIDTOUR }}</h1>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <TourDetails :tour="tour"></TourDetails>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import TourDetails from "@/components/tours/TourDetails";
import Axios from "axios";
export default {
  components: {
    TourDetails
  },
  data() {
    return {
      tour: {}
    };
  },
  beforeCreate() {
    const tourId = this.$route.params.tourId;
    Axios.get(process.env.VUE_APP_API_SERVICE + "tours/" + tourId)
      .then(Response => (this.tour = Response.data))
      .catch(error => console.log(error));
  }
};
</script>
