<template>
  <div id="tour-view">
    <v-container fluid grid-list-xl>
      <v-layout row>
        <v-flex>
          <v-btn color="primary" to="/tournees/nouveau">
            Nouvelle tournée
          </v-btn>
        </v-flex>
        <v-flex>
          <h1>Tournées</h1>
        </v-flex>
      </v-layout>
      <v-layout row wrap fill-height>
        <v-flex md6 grow>
          <ToursTable @show-tour="showTour"></ToursTable>
        </v-flex>
        <v-flex md6 grow>
          <TourDetails
            :tour="tour"
            @tour-edit="editTour"
            v-if="tour.RefbonOnyx !== undefined"
          ></TourDetails>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ToursTable from "@/components/tours/ToursTable";
import TourDetails from "@/components/tours/TourDetails";
import Axios from "axios";

export default {
  components: {
    ToursTable,
    TourDetails
  },
  data() {
    return {
      tour: {}
    };
  },
  methods: {
    showTour(e) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "tours/" + e)
        .then(Response => {
          this.tour = Response.data;
        })
        .catch(error => console.log(error));
    },
    editTour(e) {
      this.$router.push({ name: "TourEdit", params: { tourId: e } });
    }
  }
};
</script>
