<template>
  <v-container fluid grid-list-xl>
    <v-layout row>
      <v-flex>
        <v-btn color="error" to="/tournees">
          Retour
        </v-btn>
      </v-flex>
      <v-flex>
        <h1>Tournées</h1>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <TourForm :tour="tour"></TourForm>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import TourForm from "@/components/tours/TourForm";
import Axios from "axios";
export default {
  components: {
    TourForm
  },
  data() {
    return {
      tour: {}
    };
  },
  computed: {
    title() {
      if (this.tour) return "Édition d'une tournée";
      else return "Création d'une tounée";
    }
  },
  beforeCreate() {
    const tourId = this.$route.params.tourId;
    if (tourId) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "tours/" + tourId)
        .then(Response => (this.tour = Response.data))
        .catch(error => console.error(error));
    }
  }
};
</script>
