<template>
  <Title />
</template>

<script>
import Title from "../components/home/Title";

export default {
  components: {
    Title
  },
  beforeMount() {
    this.$store.commit("SET_LAYOUT", "main-layout");
  }
};
</script>
