<template>
  <v-app>
    <v-card class="elevation-12">
      <v-toolbar dark color="primary">
        <v-toolbar-title>Connexion au système</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text>
        <v-form>
          <v-text-field
            prepend-icon="person"
            name="login"
            label="Login"
            type="text"
            v-model="formData.username"
          ></v-text-field>
          <v-text-field
            id="password"
            prepend-icon="lock"
            name="password"
            label="Password"
            type="password"
            v-model="formData.password"
            v-on:keyup.enter="validateForm"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="validateForm">Connexion</v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="error" color="error" top right>
      {{ errorText }}
      <v-btn flat @click="error = false">
        Fermer
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import axios from "axios";

export default {
  title: "Connexion",
  props: {
    nextUrl: String
  },
  data: () => {
    return {
      formData: {
        username: null,
        password: null
      },
      error: false,
      errorText: ""
    };
  },
  beforeMount() {
    this.$store.commit("SET_LAYOUT", "auth-layout");
  },
  methods: {
    validateForm() {
      if (this.formData.username && this.formData.password) {
        axios
          .post(process.env.VUE_APP_API_SERVICE + "login/login", {
            username: this.formData.username,
            password: this.formData.password
          })
          .then(response => {
            const data = response.data;
            if (data.auth) {
              axios.defaults.headers.common["Authorization"] = data.token;
              this.$store.commit("UPDATE_USER", data.user);
              this.$store.commit("UPDATE_TOKEN", data.token);
              this.$router.push("/");
            } else {
              this.error = true;
              this.errorText = "Le pseudo ou le mot de passe sont incorrects.";
              this.formData.username = null;
              this.formData.password = null;
            }
          })
          .catch(error => {
            this.error = true;
            this.errorText = "Le serveur ne répond pas. " + error;
          });
      } else {
        this.error = true;
        this.errorText = "Le pseudo et le mot de passe ne peuvent être vides.";
      }
    }
  }
};
</script>
