<template>
  <v-card flat>
    <v-container fluid grid-list-xl>
      <v-layout row wrap justify-space-between>
        <v-flex>
          <h2>Infos sur l'éleveur</h2>
        </v-flex>
        <v-flex>
          <h4>Nom et prénom :</h4>
          {{ fullname }}
        </v-flex>
        <v-flex v-if="farm.nom_filiere !== ''">
          <h4>Filière :</h4>
          {{ farm.nom_filiere }}
        </v-flex>
        <v-flex v-if="farm.Type_Atelier !== ''">
          <h4>Type d'atelier :</h4>
          {{ farm.Type_Atelier }}
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout row wrap>
        <v-flex>
          <h2>Identification</h2>
        </v-flex>
        <v-flex v-if="farm.EDEV2 !== ''">
          <h4>EDE :</h4>
          {{ farm.EDEV2 }}
        </v-flex>
        <v-flex v-if="farm.SIRETV2 !== ''">
          <h4>SIRET :</h4>
          {{ farm.SIRETV2 }}
        </v-flex>
        <v-flex v-if="farm.NPAC !== ''">
          <h4>NPAC :</h4>
          {{ farm.NPAC }}
        </v-flex>
        <v-flex v-if="farm.POULA !== ''">
          <h4>POULA :</h4>
          {{ farm.POULA }}
        </v-flex>
        <v-flex v-if="farm.TVA !== ''">
          <h4>TVA :</h4>
          {{ farm.TVA }}
        </v-flex>
        <v-flex v-if="farm.DOSEQU !== ''">
          <h4>DOSEQU :</h4>
          {{ farm.DOSEQU }}
        </v-flex>
        <v-flex v-if="farm.NAPI !== ''">
          <h4>NAPI :</h4>
          {{ farm.NAPI }}
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout row wrap>
        <v-flex>
          <h2>Adresse</h2>
        </v-flex>
        <v-flex v-if="farm.num_voie_dom !== ''">
          <h4>Numéro de rue :</h4>
          {{ farm.num_voie_dom }}
        </v-flex>
        <v-flex v-if="farm.nom_voie_dom !== ''">
          <h4>Type de voie :</h4>
          {{ farm.nom_voie_dom }}
        </v-flex>
        <v-flex v-if="farm.Adrs_Dom !== ''">
          <h4>Adresse :</h4>
          {{ farm.Adrs_Dom }}
        </v-flex>
        <v-flex v-if="farm.extension_voie_dom !== ''">
          <h4>Extension :</h4>
          {{ farm.extension_voie_dom }}
        </v-flex>
        <v-flex v-if="farm.Lieu_Dit_Dom !== ''">
          <h4>Lieu-dit :</h4>
          {{ farm.Lieu_Dit_Dom }}
        </v-flex>
        <v-flex v-if="farm.Ville_Dom !== ''">
          <h4>Ville :</h4>
          {{ farm.Ville_Dom }}
        </v-flex>
        <v-flex v-if="farm.CP_Dom !== ''">
          <h4>CP :</h4>
          {{ farm.CP_Dom }}
        </v-flex>
        <v-flex v-if="farm.Commune_Dom !== ''">
          <h4>Commune :</h4>
          {{ farm.Commune_Dom }}
        </v-flex>
        <v-flex v-if="farm.Secteur_dom !== ''">
          <h4>Secteur d'équarrissage :</h4>
          {{ farm.Secteur_dom }}
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout row wrap>
        <v-flex>
          <h2>Autres informations</h2>
        </v-flex>
        <v-flex v-if="farm.Telephone1 !== ''">
          <h4>Téléphone fixe :</h4>
          {{ farm.Telephone1 }}
        </v-flex>
        <v-flex v-if="farm.Portable1 !== ''">
          <h4>Portable 1 :</h4>
          {{ farm.Portable1 }}
        </v-flex>
        <v-flex v-if="farm.Portable2 !== ''">
          <h4>Portable2 :</h4>
          {{ farm.Portable2 }}
        </v-flex>
        <v-flex v-if="farm.nom_veto !== ''">
          <h4>Vétérinaire :</h4>
          {{ vetName }}
        </v-flex>
        <v-flex v-if="farm.fratrie !== ''">
          <h4>Fratrie :</h4>
          {{ farm.fratrie }}
        </v-flex>
        <v-flex>
          <h4>Activité</h4>
          {{ activity }}
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import axios from "axios";

export default {
  props: {
    farm: {}
  },
  data() {
    return {
      error: false,
      errorMsg: "",
      snackbarColor: ""
    };
  },
  computed: {
    fullname() {
      return this.farm.Prenom_Det + " " + this.farm.Nom_Det;
    },
    activity() {
      if (this.farm.Actif === 1) {
        return "En activité";
      } else {
        return "Plus en activité";
      }
    },
    theme() {
      return this.$store.getters.darkTheme;
    }
  },
  asyncComputed: {
    vetName: {
      get() {
        return new Promise(resolve => {
          if (this.farm.nom_veto) {
            axios
              .get(
                process.env.VUE_APP_API_SERVICE + "vets/" + this.farm.nom_veto
              )
              .then(response => resolve(response["Noms-Prenoms"]))
              .catch(error => {
                this.error = true;
                this.snackbarColor = "error";
                this.errorMsg = "Unable to get the vet. " + error;
                resolve("Erreur");
              });
          } else {
            resolve("Aucun");
          }
        });
      },
      default: "Aucun"
    }
  }
};
</script>
