<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <h2>Animaux récupérés pour cet éleveur</h2>
        <v-spacer></v-spacer>
        <v-btn color="secondary" ripple @click="downloadPDF">
          <v-icon left>get_app</v-icon>Télécharger en PDF
        </v-btn>
        <v-btn color="accent" ripple>
          <download-excel
            name="Animaux.xls"
            :data="data"
            :fields="jsonFields"
            worksheet="Données"
          >
            <v-icon left>get_app</v-icon>Télécharger en Excel
          </download-excel>
        </v-btn>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Rechercher"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="loading"
        :search="search"
        :headers="headers"
        :items="data"
        :rows-per-page-items="[10, 25, 50]"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <tr>
            <td>{{ props.item.NumAppel }}</td>
            <td>{{ props.item.dateTimeCall }}</td>
            <td>{{ props.item.dateTimeEnlev }}</td>
            <td>{{ props.item.Num_Certificat }}</td>
            <td>{{ props.item.Espece }}</td>
            <td>{{ props.item.Sexe }}</td>
            <td>{{ props.item.Nbre }}</td>
            <td>{{ props.item.Poids }}</td>
            <td>{{ props.item.Cause_Mort }}</td>
            <td>{{ props.item.Identification }}</td>
            <td>{{ props.item.NumDAB }}</td>
            <td>{{ props.item.NumASDA }}</td>
          </tr>
        </template>
        <template slot="no-results">
          <v-alert :value="true" color="error" icon="warning">
            La recherche pour "{{ search }}" n'a retourné aucun résultat.
          </v-alert>
        </template>
        <template slot="no-data">
          <v-alert :value="true" color="info" icon="warning">
            Aucun animal enregistré pour cet éleveur.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import Axios from "axios";

export default {
  props: {
    farmData: Object,
    minDate: String,
    maxDate: String
  },
  data() {
    return {
      loading: false,
      search: null,
      headers: [
        { text: "N° Appel", value: "NumAppel" },
        { text: "Date & Heure", value: "dateTimeCall" },
        { text: "Date Enlèvement", value: "dateTimeEnlev" },
        { text: "N° Certif.", value: "Num_Certificat" },
        { text: "Espèce", value: "Espece" },
        { text: "Sexe", value: "Sexe" },
        { text: "Nombre", value: "Nbre" },
        { text: "Poids", value: "Poids" },
        { text: "Causes de la mort", value: "Cause_Mort" },
        { text: "Identification", value: "Identification" },
        { text: "N° DAB", value: "NumDAB" },
        { text: "N° ASDA", vaue: "NumASDA" }
      ],
      data: [],
      jsonFields: {
        "N° Appel": "NumAppel",
        "Date & Heure": "dateTimeCall",
        "Date Enlèvement": "dateTimeEnlev",
        "N° Certif.": "Num_Certificat",
        Espèce: "Espece",
        Sexe: "Sexe",
        Nombre: "Nombre",
        Poids: "Poids",
        "Causes de la mort": "Cause_Mort",
        Identification: "Identification",
        "N° DAB": "NumDAB",
        "N° ASDA": "NumASDA"
      }
    };
  },
  methods: {
    getData() {
      if (this.farmData.Id_Etablissement && this.minDate && this.maxDate) {
        this.loading = true;
        Axios.get(
          process.env.VUE_APP_API_SERVICE +
            "installations/" +
            this.farmData.Id_Etablissement +
            "/animals",
          {
            params: {
              from: new Date(this.minDate).toISOString(),
              to: new Date(this.maxDate).toISOString()
            }
          }
        )
          .then(Response => {
            this.data = [];
            for (const an of Response.data) {
              this.data.push({
                NumAppel: an.NumAppel || "",
                dateTimeCall: this.dateTimeCall(an),
                dateTimeEnlev: this.dateTimeEnlev(an),
                Num_Certificat: an.Num_Certificat || "",
                Espece: an.Espece || "",
                Sexe: an.Sexe || "",
                Nbre: an.Nbre || "",
                Poids: an.Poids || "",
                Cause_Mort: an.Cause_Mort || "",
                Identification: an.Identification || "",
                NumDAB: an.NumDAB || "",
                NumASDA: an.NumASDA || ""
              });
            }
          })
          .catch(error => console.log(error))
          .finally(() => (this.loading = false));
      }
    },
    dateTimeCall(line) {
      return (
        new Date(line.Date_Appel).toLocaleDateString() +
        " à " +
        new Date(line.Heure_Appel).toLocaleTimeString()
      );
    },
    dateTimeEnlev(line) {
      return (
        new Date(line.Date_Enlev).toLocaleDateString() +
        " à " +
        new Date(line.Heure_Enlev).toLocaleTimeString()
      );
    },
    // Creates the data to create the PDF to download.
    downloadPDF() {
      if (this.farmData.Id_Etablissement && this.minDate && this.maxDate) {
        return import(/*webpackChunkName: "createPDF"*/ "../../utils/createPDF")
          .then(({ default: createPDF }) => {
            const animals = [];
            for (const an of this.data) {
              animals.push([
                an.NumAppel,
                an.dateTimeCall,
                an.dateTimeEnlev,
                an.Num_Certificat,
                an.Espece,
                an.Sexe,
                an.Nbre,
                an.Poids,
                an.Cause_Mort,
                an.Identification,
                an.NumDAB,
                an.NumASDA
              ]);
            }
            createPDF.createFarmAnimalsSheet(
              animals,
              this.farmData.EDE,
              this.farmData.SIRET,
              this.farmData.farmName
            );
          })
          .catch(error => console.log(error));
      }
    }
  },
  watch: {
    minDate: {
      handler: "getData",
      immediate: true
    },
    maxDate: {
      handler: "getData",
      immediate: true
    }
  }
};
</script>
