<template>
  <div id="farms-table">
    <v-card>
      <v-card-title primary-title>
        <h2>Éleveurs</h2>
        <v-spacer></v-spacer>
        <v-btn @click="switchContent" color="primary">{{ buttonText }} </v-btn>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Rechercher"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="formattedFarms"
        :loading="loading"
        :rows-per-page-items="[10, 25, 50]"
        :search="search"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <tr @click="farmDetails(props.item)">
            <td>{{ props.item.EDEV2 }}</td>
            <td>{{ props.item.SIRETV2 }}</td>
            <td>{{ props.item.fullName }}</td>
            <td>{{ props.item.CP_Dom }}</td>
            <td>{{ props.item.Ville_Dom }}</td>
            <td>{{ props.item.Secteur_dom }}</td>
            <td>{{ props.item.Portable1 }}</td>
            <td>{{ props.item.nom_filiere }}</td>
            <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="farmAnimals(props.item)">
                folder
              </v-icon>
              <v-icon small class="mr-2" @click="editFarm(props.item)">
                edit
              </v-icon>
            </td>
          </tr>
        </template>
        <template slot="no-results">
          <v-alert :value="true" color="error" icon="warning">
            La recherche pour "{{ search }}" n'a retourné aucun résultat.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="deleteDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Supprimer ?</v-card-title>
        <v-card-text>
          Voulez-vous vraiment supprimer cet éleveur ? C'est irrécupérable.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="deleteDialog = false">
            Non
          </v-btn>
          <v-btn color="red darken-1" flat @click="trulyDelete">Oui</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="error" :color="snackbarColor" top right>
      {{ errorMsg }}
      <v-btn flat @click="error = false">
        Fermer
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      headers: [
        { text: "EDE", value: "EDEV2", sortable: true },
        { text: "SIRET", value: "SIRETV2", sortable: true },
        { text: "Nom et prénom", value: "fullName", sortable: true },
        { text: "CP", value: "CP_Dom", sortable: true },
        { text: "Ville", value: "Ville_Dom" },
        { text: "Zone", value: "Secteur_dom" },
        { text: "Portable", value: "Portable1", sortable: false },
        { text: "Filière", value: "nom_filiere", sortable: true },
        { text: "Actions", value: "Id_Etablissement", sortable: false }
      ],
      farms: [],
      loading: true,
      error: false,
      snackbarColor: "error",
      errorMsg: "",
      search: "",
      onlyActive: false,
      buttonText: "Uniquement les actifs",
      deleteDialog: false,
      farmToDelete: {}
    };
  },
  computed: {
    formattedFarms() {
      const res = this.farms.map(farm => {
        const fullName = this.fullName(farm);
        return Object.assign({}, farm, { fullName });
      });
      return res;
    }
  },
  methods: {
    fullName(line) {
      return line.Nom_Det + " " + line.Prenom_Det;
    },
    getAllFarms() {
      this.loading = true;
      axios
        .get(process.env.VUE_APP_API_SERVICE + "installations/")
        .then(response => {
          this.farms = undefined;
          delete this.farms;
          this.farms = response.data;
        })
        .catch(err => {
          this.error = true;
          this.errorMsg = err;
          this.snackbarColor = "error";
        })
        .finally(() => (this.loading = false));
    },
    getActiveFarms() {
      this.loading = true;
      axios
        .get(process.env.VUE_APP_API_SERVICE + "installations/", {
          params: {
            active: true
          }
        })
        .then(response => {
          this.farms = undefined;
          delete this.farms;
          this.farms = response.data;
        })
        .catch(err => {
          this.error = true;
          this.errorMsg = err;
          this.snackbarColor = "error";
        })
        .finally(() => (this.loading = false));
    },
    // Switches between all farms and only active ones.
    switchContent() {
      if (!this.onlyActive) {
        this.getActiveFarms();
        this.onlyActive = true;
        this.buttonText = "Tous les éleveurs";
      } else {
        this.getAllFarms();
        this.onlyActive = false;
        this.buttonText = "Uniquement les actifs";
      }
    },
    farmDetails(farm) {
      this.$emit("farm-details", farm.Id_Etablissement);
    },
    farmAnimals(farm) {
      this.$emit("farm-animals", farm.Id_Etablissement);
    },
    editFarm(farm) {
      this.$emit("edit-farm", farm.Id_Etablissement);
    },
    // Show the delete popup dialog
    deleteFarm(farm) {
      this.farmToDelete = farm;
      this.deleteDialog = true;
    },
    // Truly deletes the farm.
    trulyDelete() {
      this.loading = true;
      this.deleteDialog = false;
      axios
        .delete(
          process.env.VUE_APP_API_SERVICE +
            "installations/" +
            this.farmToDelete.Id_Etablissement
        )
        .then(response => {
          if (response.status === 200) {
            this.error = true;
            this.errorMsg = "Supprimé avec succès !";
            this.snackbarColor = "success";
            if (this.onlyActive) {
              this.getActiveFarms();
            } else {
              this.getAllFarms();
            }
          } else {
            this.error = true;
            this.errorMsg =
              "Erreur lors de la suppression, réessayez plus tard.";
            this.snackbarColor = "error";
          }
        })
        .catch(err => {
          this.error = true;
          this.errorMsg = err;
          this.snackbarColor = "error";
        })
        .finally(() => {
          this.loading = false;
          this.getAllFarms();
          this.onlyActive = false;
          this.buttonText = "Uniquement les actifs";
        });
    }
  },
  mounted() {
    this.getAllFarms();
  },
  beforeDestroy() {
    this.farms = undefined;
    this.farmToDelete = undefined;
    this.headers = undefined;
    delete this.farms;
    delete this.farmToDelete;
    delete this.headers;
  }
};
</script>
