<template>
  <div id="edit-create-farm">
    <v-form v-model="valid" ref="FarmForm">
      <v-container fluid fill-height>
        <v-layout>
          <v-flex>
            <h3>Informations sur le détenteur</h3>
            <v-text-field
              v-model="formData.name"
              :rules="[v => !!v || 'Le nom est requis']"
              label="Nom du détenteur"
              required
            ></v-text-field>
            <v-text-field
              v-model="formData.firstname"
              :rules="[v => !!v || 'Le prénom est requis']"
              label="Prénom du détenteur"
              required
            ></v-text-field>

            <v-select
              v-model="formData.corporation"
              :items="corps"
              :rules="[v => !!v || 'La filière est requise']"
              label="Filière"
              required
            ></v-select>

            <v-text-field
              v-model="formData.typeAtelier"
              label="Type d'atelier"
              hint="Optionnel si la filière est entrée."
              persistent-hint
            ></v-text-field>
          </v-flex>
          <v-flex>
            <h3>Identification</h3>
            <v-text-field
              v-model="formData.ede"
              :counter="8"
              mask="########"
              label="EDE"
            ></v-text-field>
            <v-text-field
              v-model="formData.siret"
              :counter="14"
              mask="##############"
              label="SIRET"
            ></v-text-field>
            <v-text-field
              v-model="formData.npac"
              :counter="9"
              label="NPAC"
            ></v-text-field>
            <v-text-field
              v-model="formData.poula"
              :counter="18"
              label="POULA"
            ></v-text-field>
            <v-text-field
              v-model="formData.tva"
              :counter="18"
              label="TVA"
            ></v-text-field>
            <v-text-field
              v-model="formData.dosequ"
              :counter="18"
              label="DOSEQU"
              hint="Si aucune autre information n'est disponible"
              persistent-hint
            ></v-text-field>
            <v-text-field
              v-model="formData.napi"
              :counter="50"
              label="NAPI"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <h3>Adresse</h3>
            <v-text-field
              v-model="formData.addrNum"
              mask="####"
              label="Numéro de voie"
            ></v-text-field>
            <v-text-field
              v-model="formData.addrName"
              :counter="38"
              label="Nom de voie"
              hint="Chemin, rue, route, etc"
              persistent-hint
            ></v-text-field>
            <v-text-field
              v-model="formData.address"
              :counter="38"
              label="Adresse"
            ></v-text-field>
            <v-text-field
              v-model="formData.addrExt"
              label="Extension"
            ></v-text-field>
            <v-text-field
              v-model="formData.addrLieuDit"
              :counter="38"
              label="Lieu dit"
            ></v-text-field>
            <v-select
              v-model="formData.addrCity"
              :items="cities"
              :rules="[v => !!v || 'La ville est requise']"
              label="Ville"
              required
            ></v-select>
          </v-flex>
          <v-flex>
            <h3>Autres Informations</h3>
            <v-text-field
              v-model="formData.telFixe"
              label="Téléphone fixe"
            ></v-text-field>
            <v-text-field
              v-model="formData.telPort1"
              label="Téléphone portable (1)"
            ></v-text-field>
            <v-text-field
              v-model="formData.telPort2"
              label="Téléphone portable (2)"
            ></v-text-field>
            <v-select
              v-model="formData.veto"
              :items="vets"
              label="Vétérinaire"
            ></v-select>
            <v-text-field
              v-model="formData.fratrie"
              label="Fratrie"
            ></v-text-field>
            <v-switch
              v-if="farmId !== 'undefined'"
              v-model="formData.activity"
              label="En activité"
              color="secondary"
            ></v-switch>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container>
        <v-layout>
          <v-flex>
            <v-btn :disabled="!valid" color="success" @click="validate"
              >Valider</v-btn
            >
            <v-progress-circular
              indeterminate
              color="secondary"
              v-if="pending"
            ></v-progress-circular>
          </v-flex>
          <v-flex>
            <v-btn color="warning" @click="reset">Effacer</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
    <v-snackbar v-model="error" :color="snackbarColor" top right>
      {{ errorMsg }}
      <v-btn flat @click="error = false">Fermer</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: {
    editFarm: Object
  },
  data() {
    return {
      pending: false,
      error: false,
      errorMsg: "",
      snackbarColor: "error",
      valid: true,
      farmId: "",
      formData: {
        name: "",
        firstname: "",
        corporation: "",
        typeAtelier: "",
        ede: "",
        siret: "",
        npac: "",
        poula: "",
        tva: "",
        dosequ: "",
        napi: "",
        address: "",
        addrNum: "",
        addrName: "",
        addrExt: "",
        addrLieuDit: "",
        addrCity: "",
        telFixe: "",
        telPort1: "",
        telPort2: "",
        veto: "",
        fratrie: "",
        activity: ""
      },
      edeRules: [v => /([0-9]{8})/.test(v) || "L'EDE entré est incorrect"],
      siretRules: [v => /([0-9]{14})/.test(v) || "Le SIRET entré est incorrect"]
    };
  },
  watch: {
    editFarm: {
      handler: "populateForm",
      immediate: true
    }
  },
  asyncComputed: {
    cities: {
      get() {
        return new Promise(resolve => {
          axios
            .get(process.env.VUE_APP_API_SERVICE + "cities")
            .then(Response => {
              const data = Response.data.map(city => {
                city.text =
                  city.Ville + " | " + city.Commune + " | " + city.Code_Postal;
                city.value = city.Numéro;
                return city;
              });
              resolve(data);
            })
            .catch(err => {
              this.snackbarColor = "error";
              this.error = true;
              this.errorMsg = err;
              resolve(err);
            });
        });
      },
      default: []
    },
    corps: {
      get() {
        return new Promise(resolve => {
          axios
            .get(process.env.VUE_APP_API_SERVICE + "corporations")
            .then(Response => {
              const data = Response.data.map(corp => {
                corp.text = corp.nom_filiere + " | " + corp.espece;
                corp.value = corp.reffiliere;
                return corp;
              });
              resolve(data);
            })
            .catch(err => {
              this.snackbarColor = "error";
              this.error = true;
              this.errorMsg = err;
            });
        });
      },
      default: []
    },
    vets: {
      get() {
        return new Promise(resolve => {
          axios
            .get(process.env.VUE_APP_API_SERVICE + "vets")
            .then(Response => {
              const data = Response.data.map(vet => {
                vet.text = vet["Noms-Prenoms"] + " | " + vet.Ville;
                vet.value = vet.Ref_Veto;
                return vet;
              });
              resolve(data);
            })
            .catch(err => {
              this.snackbarColor = "error";
              this.error = true;
              this.errorMsg = err;
            });
        });
      },
      default: []
    }
  },
  beforeUpdate() {
    this.populateForm();
  },
  methods: {
    validate() {
      if (this.$refs.FarmForm.validate()) {
        this.pending = true;
        const farmData = {
          EDEV2: this.formData.ede,
          SIRETV2: this.formData.siret,
          NPAC: this.formData.npac,
          POULA: this.formData.poula,
          TVA: this.formData.tva,
          DOSEQU: this.formData.dosequ,
          NAPI: this.formData.napi,
          Type_Atelier: this.formData.typeAtelier,
          Nom_Det: this.formData.name,
          Prenom_Det: this.formData.firstname,
          Adrs_Dom: this.formData.address,
          num_voie_dom: this.formData.addrNum,
          nom_voie_dom: this.formData.addrName,
          extension_voie_dom: this.formData.addrExt,
          Lieu_Dit_Dom: this.formData.addrLieuDit,
          Telephone1: this.formData.telFixe,
          Portable1: this.formData.telPort1,
          Portable2: this.formData.telPort2,
          fratrie: this.formData.fratrie,
          nom_veto: this.formData.veto,
          filiere: this.formData.corporation
        };
        const city = this.cities.find(
          cit => cit.Numéro === this.formData.addrCity
        );
        if (city) {
          farmData.Ville_Dom = city.Ville;
          farmData.CP_Dom = city.Code_Postal;
          farmData.Commune_Dom = city.Commune;
          farmData.Secteur_dom = city.zone_eq;
          farmData.Zone_Dom = city["N°_Zone"];
        }
        // If it's an edit case
        if (this.farmId) {
          if (this.formData.activity) {
            farmData.Actif = 1;
          } else {
            farmData.Actif = 0;
          }

          axios
            .patch(
              process.env.VUE_APP_API_SERVICE + "installations/" + this.farmId,
              farmData
            )
            .then(response => {
              if (response.status == 200) {
                this.snackbarColor = "success";
                this.error = true;
                this.errorMsg = "Modifié avec succès !";
                this.$refs.FarmForm.reset();
                this.$router.go(-1);
              }
            })
            .catch(err => {
              this.snackbarColor = "error";
              this.error = true;
              this.errorMsg = err;
            })
            .finally(() => (this.pending = false));
        } else {
          // If it's a create case
          axios
            .post(process.env.VUE_APP_API_SERVICE + "installations/", farmData)
            .then(response => {
              if (response.status == 201) {
                this.snackbarColor = "success";
                this.error = true;
                this.errorMsg = "Créé avec succès !";
                this.$refs.FarmForm.reset();
                this.$router.go(-1);
              }
            })
            .catch(err => {
              this.snackbarColor = "error";
              this.error = true;
              this.errorMsg = err;
            })
            .finally(() => (this.pending = false));
        }
      }
    },
    reset() {
      this.$refs.FarmForm.reset();
    },
    //Populates the form with the provided data in case of an edit
    populateForm() {
      if (this.editFarm) {
        this.farmId = this.editFarm.Id_Etablissement;
        this.formData.ede = this.editFarm.EDEV2;
        this.formData.siret = this.editFarm.SIRETV2;
        this.formData.npac = this.editFarm.NPAC;
        this.formData.poula = this.editFarm.POULA;
        this.formData.tva = this.editFarm.TVA;
        this.formData.dosequ = this.editFarm.DOSEQU;
        this.formData.napi = this.editFarm.NAPI;
        this.formData.typeAtelier = this.editFarm.Type_Atelier;
        this.formData.name = this.editFarm.Nom_Det;
        this.formData.firstname = this.editFarm.Prenom_Det;
        this.formData.address = this.editFarm.Adrs_Dom;
        this.formData.addrNum = this.editFarm.num_voie_dom;
        this.formData.addrName = this.editFarm.nom_voie_dom;
        this.formData.addrExt = this.editFarm.extension_voie_dom;
        this.formData.addrLieuDit = this.editFarm.Lieu_Dit_Dom;
        this.formData.telFixe = this.editFarm.Telephone1;
        this.formData.telPort1 = this.editFarm.Portable1;
        this.formData.telPort2 = this.editFarm.Portable2;
        this.formData.fratrie = this.editFarm.fratrie;
        this.formData.veto = this.editFarm.nom_veto;
        this.formData.corporation = this.editFarm.filiere;
        if (this.editFarm.Actif === 1) {
          this.formData.activity = true;
        } else {
          this.formData.activity = false;
        }
        if (this.cities) {
          const city = this.cities.find(cit => {
            return cit.Code_Postal === this.editFarm.CP_Dom;
          });
          if (city) {
            this.formData.addrCity = city.value;
          }
        }
      }
    }
  },
  beforeDestroy() {
    this.formData = undefined;
    this.cities = undefined;
    this.vets = undefined;
    this.corps = undefined;
    delete this.formData;
    delete this.cities;
    delete this.vets;
    delete this.corps;
  }
};
</script>
