<template>
  <v-container fluid>
    <v-layout column>
      <v-flex>
        <h1>GDS RUN SERVICES - GDS Réunion</h1>
      </v-flex>
      <v-flex>
        <h2>Gestion de l'équarrissage</h2>
      </v-flex>
      <v-flex>
        <h3>Pour commencer, veuillez cliquer sur un lien à gauche.</h3>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {};
</script>
