<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <h2>Enlèvements prioritaires du jour</h2>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Rechercher"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :loading="loading"
        :rows-per-page-items="[10, 25, 50]"
        :search="search"
        :items="data"
      >
        <template slot="items" slot-scope="props">
          <tr @click.stop="showCallDetails(props.item.NumAppel)">
            <td>{{ props.item.Z }}</td>
            <td>{{ props.item.datetime }}</td>
            <td :style="delayStyles(props.item.delai_enlevement)">
              {{ props.item.delai_enlevement }}
            </td>
            <td style="color: Red">{{ props.item.depassement_enlevement }}</td>
            <td>{{ props.item.ELEVEUR }}</td>
            <td>{{ props.item.Espece }}</td>
            <td>{{ props.item.Nbre }}</td>
            <td>{{ props.item.Poids }}</td>
            <td>{{ props.item.Remarques }}</td>
            <td>{{ props.item.autorisation_veto }}</td>
            <td>{{ props.item.Adresse }}</td>
            <td>{{ props.item.Ville }}</td>
          </tr>
        </template>
        <template slot="no-results">
          <v-alert :value="true" color="error" icon="warning">
            La recherche pour "{{ search }}" n'a retourné aucun résultat.
          </v-alert>
        </template>
        <template slot="no-data">
          <v-alert :value="true" color="info" icon="warning">
            Aucun appel enregistré
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <v-snackbar v-model="snack" :color="snackbarColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="snack = false">
        Fermer
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import Axios from "axios";
export default {
  data() {
    return {
      headers: [
        { text: "Zone", value: "Z" },
        { text: "Appel", value: "datetime" },
        { text: "Délai", value: "delai_enlevement" },
        { text: "Retard", value: "depassement_enlevement" },
        { text: "Éleveur", value: "ELEVEUR" },
        { text: "Espèce", value: "Espece", sortable: false },
        { text: "Nombre", value: "Nbre", align: "center", sortable: false },
        { text: "Poids", value: "Poids", align: "center", sortable: false },
        {
          text: "Remarques",
          value: "Remarques",
          align: "center",
          sortable: false
        },
        {
          text: "Véto",
          value: "autorisation_veto",
          align: "center",
          sortable: false
        },
        { text: "Adresse", value: "Adresse", sortable: false },
        { text: "Ville", value: "Ville" }
      ],
      loading: false,
      search: null,
      data: [],
      snack: false,
      snackbarColor: "error",
      snackMsg: ""
    };
  },
  methods: {
    getPrimaryRemovals() {
      this.loading = true;
      Axios.get(process.env.VUE_APP_API_SERVICE + "planning")
        .then(Response => {
          this.data = undefined;
          delete this.data;
          this.data = Response.data;
        })
        .catch(ErrorEvent => {
          this.snack = true;
          this.snackbarColor = "error";
          this.snackMsg = ErrorEvent;
        })
        .finally(() => (this.loading = false));
    },
    delayStyles(delay) {
      if (delay === 0) return "color: DarkOrange";
      return "color: Black";
    },
    showCallDetails(NumAppel) {
      this.$emit("show-call", NumAppel);
    }
  },
  mounted() {
    this.getPrimaryRemovals();
  },
  beforeDestroy() {
    this.data = undefined;
    delete this.data;
  }
};
</script>
