<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <h2>Tournée {{ identification }}, Zone : {{ zoneCode }}</h2>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="download()" ripple>
          <v-icon left>get_app</v-icon>
          Télécharger au format PDF
        </v-btn>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :loading="loading"
        :rows-per-page-items="[10, 25, 50]"
        :search="search"
        :items="planData"
      >
        <template slot="items" slot-scope="props">
          <tr @click.stop="showCallDetails(props.item.NumAppel)">
            <td>{{ props.item.NumAppel }}</td>
            <td style="color: Red">{{ prio(props.item) }}</td>
            <td>{{ props.item.datetime }}</td>
            <td>{{ farmData(props.item) }}</td>
            <td>{{ tels(props.item) }}</td>
            <td>{{ addr(props.item) }}</td>
            <td>{{ animals(props.item) }}</td>
            <td>{{ props.item.Remarques }}</td>
            <td>{{ veto(props.item) }}</td>
          </tr>
        </template>
        <template slot="no-results">
          <v-alert :value="true" color="error" icon="warning">
            La recherche pour "{{ search }}" n'a retourné aucun résultat.
          </v-alert>
        </template>
        <template slot="no-data">
          <v-alert :value="true" color="info" icon="warning">
            Aucune tournée enregistrée
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import moment from "moment";
import Axios from "axios";
//import createPDF from "@/utils/createPDF";

export default {
  props: {
    zoneCode: String
  },
  data() {
    return {
      loading: false,
      search: null,
      headers: [
        { text: "Ref appel", value: "NumAppel" },
        { text: "Prioritaire", value: "prio" },
        { text: "Horodatage", value: "datetime" },
        { text: "Éleveur", value: "farmData" },
        { text: "Telephone", value: "tels", width: "9%", sortable: false },
        { text: "Adresse", value: "addr", sortable: false },
        { text: "Animaux", value: "animals", sortable: false },
        { text: "Remarques", value: "Remarques", sortable: false },
        { text: "Véto", value: "veto", sortable: false }
      ]
    };
  },
  computed: {
    identification() {
      return moment()
        .add(1, "days")
        .format("MMDD - YYYY");
    }
  },
  asyncComputed: {
    planData: {
      get() {
        return new Promise(resolve => {
          this.loading = true;
          Axios.get(
            process.env.VUE_APP_API_SERVICE + "planning/" + this.zoneCode
          )
            .then(Response => resolve(Response.data))
            .catch(ErrorEvent => console.log(ErrorEvent))
            .finally(() => (this.loading = false));
        });
      },
      default: []
    }
  },
  methods: {
    showCallDetails(NumAppel) {
      this.$emit("show-call", NumAppel);
    },
    prio(line) {
      if (line.delai_enlevement <= 1 || line.depassement_enlevement)
        return "Oui";
      return "";
    },
    farmData(line) {
      var res = line.ELEVEUR;
      if (line.EDEV2) res += " \nEDE : " + line.EDEV2;
      else if (line.SIRETV2) res += " \nSIRET : " + line.SIRETV2;
      else if (line.NAPI) res += " \nNAPI : " + line.NAPI;
      return res;
    },
    tels(line) {
      var res = "";
      if (line.Telephone1) res += line.Telephone1;
      if (line.Portable1) res += "\n/" + line.Portable1;
      if (line.Portable2) res += "\n/" + line.Portable2;
      return res;
    },
    addr(line) {
      return line.Adresse + ", " + line.Ville + ", " + line.Commune;
    },
    animals(line) {
      var res = line.Espece;
      if (line.Nbre) res += " \nNombre : " + line.Nbre;
      if (line.Poids) res += " \nPoids : " + line.Poids;
      return res;
    },
    veto(line) {
      if (line.ESPECE !== "BOVINS") return "Pas nécessaire";
      if (line.autorisation_veto !== 0) return "Oui";
      return "Non";
    },
    download() {
      var printData = [];
      for (const line of this.planData) {
        printData.push([
          line.NumAppel,
          line.datetime,
          this.farmData(line),
          this.tels(line),
          this.addr(line),
          this.animals(line),
          line.Remarques,
          this.veto(line)
        ]);
      }
      const zone =
        this.zoneCode === "ouest"
          ? "OUEST ET MILIEU"
          : this.zoneCode.toUpperCase();
      //createPDF.createRoadSheet(printData, zone);
      return import(/*webpackChunkName: "createPDF"*/ "../../utils/createPDF")
        .then(({ default: createPDF }) => {
          createPDF.createRoadSheet(printData, zone);
        })
        .catch(error => console.log(error));
    }
  }
};
</script>
