<template>
  <v-card>
    <v-card-title primary-title>
      <h2>Détails de la tournée</h2>
      <v-spacer></v-spacer>
      <v-btn
        fab
        dark
        ripple
        color="secondary"
        @click="$emit('tour-edit', tour.RefbonOnyx)"
      >
        <v-icon dark>edit</v-icon>
      </v-btn>
    </v-card-title>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex>
          <h3>Identification</h3>
        </v-flex>
        <v-flex>
          <h4>TIDTOUR :</h4>
          {{ tour.TIDTOUR }}
        </v-flex>
        <v-flex>
          <h4>Id. journée :</h4>
          {{ tour.id_tournee_jour }}
        </v-flex>
        <v-flex>
          <h4>N° de bon :</h4>
          {{ tour.num_bon }}
        </v-flex>
        <v-flex>
          <h4>Date et heure de réception</h4>
          {{ reception }}
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex>
          <h3>Informations</h3>
        </v-flex>
        <v-flex>
          <h4>H.début :</h4>
          {{ HDeb }}
        </v-flex>
        <v-flex>
          <h4>H. fin :</h4>
          {{ tour.Heure_Fin_Tour }}
        </v-flex>
        <v-flex>
          <h4>Kilométrage</h4>
          Début : {{ tour.Kilometre_Deb_Tour }} / Fin :
          {{ tour.Kilometre_Fin_Tour }} ({{ dist }})
        </v-flex>
        <v-flex>
          <h4>Poids</h4>
          À vide : {{ tour.Poids_Vide_Vehicule }} / Chargé :
          {{ tour.Poids_Charge_Vehicule }} Différence : {{ weight }} / Poids net
          : {{ tour.poidsNet }}
        </v-flex>
        <v-flex>
          <h4>Centre de traitement</h4>
          {{ tour.nom_centre }}
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex>
          <h3>Véhicule et conducteur</h3>
        </v-flex>
        <v-flex>
          Nom : {{ tour.Nom_vehicule }}, type : {{ tour.Type }}
          {{ tour.Marque }} {{ tour.Immatriculation }}
        </v-flex>
        <v-flex>
          <h4>Conducteur 1 :</h4>
          {{ driver1 }}
        </v-flex>
        <v-flex v-if="tour.Chauffeur_2">
          <h4>Conducteur 2 :</h4>
          {{ driver2 }}
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <TourCallsTable :callsList="calls"></TourCallsTable>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import moment from "moment";
import Axios from "axios";
import TourCallsTable from "@/components/calls/TourCallsTable";

export default {
  components: {
    TourCallsTable
  },
  props: {
    tour: Object
  },
  data() {
    return {
      driver1: null,
      driver2: null
    };
  },
  computed: {
    HDeb() {
      return moment(this.tour.Heure_Deb_Tour).format("HH:mm");
    },
    dist() {
      return this.tour.Kilometre_Fin_Tour - this.tour.Kilometre_Deb_Tour;
    },
    weight() {
      return this.tour.Poids_Charge_Vehicule - this.tour.Poids_Vide_Vehicule;
    },
    reception() {
      return (
        new Date(this.tour.date_reception).toLocaleDateString() +
        " à " +
        new Date(this.tour.heure_reception).toLocaleTimeString()
      );
    }
  },
  asyncComputed: {
    calls: {
      get() {
        return new Promise(resolve => {
          if (this.tour.RefbonOnyx) {
            Axios.get(
              process.env.VUE_APP_API_SERVICE +
                "tours/" +
                this.tour.RefbonOnyx +
                "/calls"
            )
              .then(Response => {
                const data = Response.data.map(call => {
                  const DateTimeCall =
                    new Date(call.Date_Appel).toLocaleDateString() +
                    " - " +
                    new Date(call.Heure_Appel).toLocaleTimeString();
                  const farmName = call.Prenom_Det + " " + call.Nom_Det;
                  return Object.assign(
                    {},
                    call,
                    { farmName },
                    { DateTimeCall }
                  );
                });
                resolve(data);
              })
              .catch(error => console.log(error));
          }
        });
      },
      default: []
    }
  },
  watch: {
    tour: {
      handler: "fetchDrivers",
      immediate: true
    }
  },
  methods: {
    fetchDrivers() {
      if (this.tour.Chauffeur_1) {
        Axios.get(
          process.env.VUE_APP_API_SERVICE + "drivers/" + this.tour.Chauffeur_1
        )
          .then(Response => {
            this.driver1 =
              Response.data["Nom Prénom Conducteur"] +
              " (" +
              Response.data["Département"] +
              ")";
          })
          .catch(error => console.log(error));
      }
      if (this.tour.Chauffeur_2) {
        Axios.get(
          process.env.VUE_APP_API_SERVICE + "drivers/" + this.tour.Chauffeur_2
        )
          .then(Response => {
            this.driver2 =
              Response.data["Nom Prénom Conducteur"] +
              " (" +
              Response.data["Département"] +
              ")";
          })
          .catch(error => console.log(error));
      }
    }
  },
  editTour() {
    this.$emit("tour-edit", this.tour.RefbonOnyx);
  }
};
</script>
