<template>
  <div id="tours-table">
    <v-card>
      <v-card-title primary-title>
        <h2>Tournées</h2>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Rechercher"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="toursList"
        :loading="loading"
        :rows-per-page-items="[10, 25, 50]"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <tr @click.stop="showTour(props.item.RefbonOnyx)">
            <td>{{ props.item.TIDTOUR }}</td>
            <td>{{ props.item.num_bon }}</td>
            <td>{{ props.item.TourDate }}</td>
            <td>{{ props.item.Immatriculation }}</td>
          </tr>
        </template>
        <template slot="no-results">
          <v-alert :value="true" color="error" icon="warning">
            La recherche pour "{{ search }}" n'a retourné aucun résultat.
          </v-alert>
        </template>
        <template slot="no-data">
          <v-alert :value="true" color="info" icon="warning">
            Aucune tournée enregistrée
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      search: "",
      headers: [
        { text: "N° tournée", value: "TIDTOUR" },
        { text: "N° bon", value: "num_bon" },
        { text: "Date", value: "TourDate" },
        { text: "Véhicule", value: "Immatriculation", sortable: false }
      ],
      pagination: {
        descending: true,
        sortBy: "num_bon"
      },
      tours: [],
      loading: false
    };
  },
  computed: {
    toursList() {
      return this.tours.map(tour => {
        return {
          RefbonOnyx: tour.RefbonOnyx,
          TIDTOUR: tour.TIDTOUR,
          num_bon: tour.num_bon,
          TourDate: new Date(tour.date_reception).toLocaleDateString(),
          Immatriculation: tour.Immatriculation
        };
      });
    }
  },
  beforeMount() {
    axios
      .get(process.env.VUE_APP_API_SERVICE + "tours")
      .then(Response => (this.tours = Response.data))
      .catch(ErrorEvent => console.log(ErrorEvent));
  },
  methods: {
    showTour(id) {
      this.$emit("show-tour", id);
    }
  }
};
</script>
