<template>
  <div>
    <v-form v-model="isValid" ref="TourForm">
      <v-container fluid>
        <v-layout row wrap>
          <v-flex>
            <h3>Identification</h3>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="formData.TIDTOUR"
              label="Identification de la tournée"
              persistent-hint
              :rules="[v => !!v || 'L\'identifiant est requis']"
              required
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="formData.num_bon"
              label="Numéro de bon"
              hint="6 chiffres maximum"
              persistent-hint
              mask="######"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-menu
              v-model="dateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="formattedDate"
                  label="Date de réception"
                  persistent-hint
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="formData.date_reception"
                @input="dateMenu = false"
                locale="fr-fr"
                first-day-of-week="1"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Heure de réception"
              type="time"
              suffix="RET"
              v-model="formData.heure_reception"
            >
            </v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <h3>Informations</h3>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Heure de début"
              type="time"
              suffix="RET"
              v-model="formData.Heure_Deb_Tour"
              :rules="[v => !!v || 'L\'heure de début est requise']"
              required
            >
            </v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Heure de fin"
              type="time"
              suffix="RET"
              v-model="formData.Heure_Fin_Tour"
            >
            </v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Kilométrage début"
              v-model="formData.Kilometre_Deb_Tour"
              type="number"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Kilométrage fin"
              v-model="formData.Kilometre_Fin_Tour"
              type="number"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Poids à vide"
              v-model="formData.Poids_Vide_Vehicule"
              type="number"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Poids chargé"
              v-model="formData.Poids_Charge_Vehicule"
              type="number"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Poids net"
              v-model="formData.poidsNet"
              type="number"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              label="Poids après déchargement de Cat 2"
              v-model="formData.Poids_ApresSousProduitsCat2"
              type="number"
            ></v-text-field>
          </v-flex>
          <v-switch
            label="Incident à la pesée"
            v-model="formData.Incident_De_Pesee"
          ></v-switch>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <h3>Véhicule et conducteur</h3>
          </v-flex>
          <v-flex>
            <v-autocomplete
              label="Véhicule"
              v-model="formData.vehicule"
              :items="vehiclesList"
              single-line
              :rules="[v => !!v || 'Le véhicule est requis']"
              required
            ></v-autocomplete>
          </v-flex>
          <v-flex>
            <v-autocomplete
              label="Chauffeur 1"
              v-model="formData.Chauffeur_1"
              :items="driversList"
              single-line
              :rules="[v => !!v || 'Au moins un chauffeur est requis']"
              required
            ></v-autocomplete>
          </v-flex>
          <v-expand-transition>
            <v-flex v-if="formData.Chauffeur_1 !== null">
              <v-text-field
                label="Heure de début du chauffeur 1"
                type="time"
                suffix="RET"
                v-model="formData.Heure_Deb_Chauf1"
              >
              </v-text-field>
            </v-flex>
          </v-expand-transition>
          <v-expand-transition>
            <v-flex v-if="formData.Chauffeur_1 !== null">
              <v-text-field
                label="Heure de fin du chauffeur 1"
                type="time"
                suffix="RET"
                v-model="formData.Heure_Fin_Chauf1"
              >
              </v-text-field>
            </v-flex>
          </v-expand-transition>
          <v-flex>
            <v-autocomplete
              label="Chauffeur 2"
              v-model="formData.Chauffeur_2"
              :items="driversList"
              single-line
              required
            ></v-autocomplete>
          </v-flex>
          <v-expand-transition>
            <v-flex v-if="formData.Chauffeur_2 !== null">
              <v-text-field
                label="Heure de début du chauffeur 2"
                type="time"
                suffix="RET"
                v-model="formData.Heure_Deb_Chauf2"
              >
              </v-text-field>
            </v-flex>
          </v-expand-transition>
          <v-expand-transition>
            <v-flex v-if="formData.Chauffeur_2 !== null">
              <v-text-field
                label="Heure de fin du chauffeur 2"
                type="time"
                suffix="RET"
                v-model="formData.Heure_Fin_Chauf2"
              >
              </v-text-field>
            </v-flex>
          </v-expand-transition>
        </v-layout>
        <v-layout row>
          <v-flex shrink>
            <v-select
              label="Centre de traitement"
              v-model="formData.centre_traitmt"
              :items="centersList"
              item-text="nom_centre"
              item-value="num_centre_trait"
              single-line
              required
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex>
            <v-btn :disabled="!isValid" color="success" @click="sendData">
              Valider
            </v-btn>
            <v-progress-circular
              indeterminate
              color="secondary"
              v-if="loading"
            ></v-progress-circular>
          </v-flex>
          <v-flex>
            <v-btn color="warning" @click="reset">Effacer</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
    <v-snackbar v-model="snack" :color="snackbarColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="snack = false">
        Fermer
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import moment from "moment-timezone";
import Axios from "axios";

export default {
  props: {
    tour: Object
  },
  data() {
    return {
      isValid: false,
      loading: false,
      snack: false,
      snackbarColor: "error",
      snackMsg: "",
      dateMenu: false,
      formData: {
        TIDTOUR: moment().format("MMDD-YYYY/"),
        num_bon: null,
        Heure_Deb_Tour: "05:30",
        Heure_Fin_Tour: null,
        Kilometre_Deb_Tour: null,
        Kilometre_Fin_Tour: null,
        Poids_Charge_Vehicule: null,
        Poids_Vide_Vehicule: null,
        poidsNet: null,
        Poids_ApresSousProduitsCat2: null,
        Incident_De_Pesee: false,
        vehicule: null,
        Chauffeur_1: null,
        Chauffeur_2: null,
        date_reception: new Date().toISOString().substring(0, 10),
        heure_reception: this.getCurrentTime(),
        Heure_Deb_Chauf1: "05:30",
        Heure_Fin_Chauf1: null,
        Heure_Deb_Chauf2: "05:30",
        Heure_Fin_Chauf2: null,
        centre_traitmt: 2
      }
    };
  },
  computed: {
    maxWeight() {
      return this.formData.Poids_Charge_Vehicule;
    },
    minWeight() {
      return this.formData.Poids_Vide_Vehicule;
    },
    formattedDate: {
      get() {
        return this.formData.date_reception
          ? moment(this.formData.date_reception).format("DD/MM/YYYY")
          : "";
      }
    },
    HFin() {
      return this.formData.Heure_Fin_Tour;
    }
  },
  asyncComputed: {
    vehiclesList: {
      get() {
        return new Promise(resolve => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "vehicules")
            .then(Response => {
              const data = [];
              for (const v of Response.data) {
                data.push({
                  text: v.Nom_vehicule + " (" + v.Immatriculation + ")",
                  value: v.NumVehicule
                });
              }
              resolve(data);
            })
            .catch(error => console.log(error));
        });
      },
      default: []
    },
    driversList: {
      get() {
        return new Promise(resolve => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "drivers")
            .then(Response => {
              resolve(
                Response.data
                  .filter(driver => driver.actif === 1)
                  .map(c => {
                    return {
                      text: c["Nom Prénom Conducteur"],
                      value: c["N° Conducteur"]
                    };
                  })
              );
            })
            .catch(error => console.log(error));
        });
      },
      default: []
    },
    centersList: {
      get() {
        return new Promise(resolve => {
          Axios.get(process.env.VUE_APP_API_SERVICE + "centers")
            .then(Response => resolve(Response.data))
            .catch(error => console.log(error));
        });
      },
      default: []
    }
  },
  watch: {
    maxWeight: {
      handler: "calculateWeight"
    },
    minWeight: {
      handler: "calculateWeight"
    },
    tour: {
      handler: "populateForm",
      immediate: true
    },
    HFin(val) {
      this.formData.Heure_Fin_Chauf1 = val;
    }
  },
  methods: {
    calculateWeight() {
      this.formData.poidsNet = this.maxWeight - this.minWeight;
    },
    getCurrentTime() {
      var today = new Date();
      var time = today.toLocaleTimeString().substring(0, 8);
      return time;
    },
    hourToDate(hour) {
      if (hour !== null)
        return moment.tz(hour, "HH:mm:ss", "Indian/Reunion").toDate();
      else return null;
    },
    sendData() {
      if (this.$refs.TourForm.validate()) {
        this.loading = true;
        const tourData = {
          TIDTOUR: this.formData.TIDTOUR,
          num_bon: this.formData.num_bon,
          vehicule: this.formData.vehicule,
          Chauffeur_1: this.formData.Chauffeur_1,
          Chauffeur_2: this.formData.Chauffeur_2,
          Heure_Deb_Tour:
            this.formData.Heure_Deb_Tour !== null
              ? this.hourToDate(this.formData.Heure_Deb_Tour).toISOString()
              : null,
          Heure_Fin_Tour:
            this.formData.Heure_Fin_Tour !== null
              ? this.hourToDate(this.formData.Heure_Fin_Tour).toISOString()
              : null,
          Kilometre_Deb_Tour: this.formData.Kilometre_Deb_Tour,
          Kilometre_Fin_Tour: this.formData.Kilometre_Fin_Tour,
          Poids_Charge_Vehicule: this.formData.Poids_Charge_Vehicule,
          Poids_Vide_Vehicule: this.formData.Poids_Vide_Vehicule,
          poidsNet: this.formData.poidsNet,
          Poids_ApresSousProduitsCat2: this.formData
            .Poids_ApresSousProduitsCat2,
          date_reception: new Date(this.formData.date_reception).toISOString(),
          heure_reception:
            this.formData.heure_reception !== null
              ? this.hourToDate(this.formData.heure_reception).toISOString()
              : null,
          Incident_De_Pesee: this.formData.Incident_De_Pesee ? 1 : null,
          centre_traitmt: this.formData.centre_traitmt || 2,
          chauffeur1_horaire_debut:
            this.formData.Heure_Deb_Chauf1 !== null
              ? this.hourToDate(this.formData.Heure_Deb_Chauf1).toISOString()
              : null,
          chauffeur1_horaire_fin:
            this.formData.Heure_Fin_Chauf1 !== null
              ? this.hourToDate(this.formData.Heure_Fin_Chauf1).toISOString()
              : null,
          chauffeur2_horaire_debut:
            this.formData.Heure_Deb_Chauf2 !== null
              ? this.hourToDate(this.formData.Heure_Deb_Chauf2).toISOString()
              : null,
          chauffeur2_horaire_fin:
            this.formData.Heure_Fin_Chauf2 !== null
              ? this.hourToDate(this.formData.Heure_Fin_Chauf2).toISOString()
              : null
        };
        if (this.tour.RefbonOnyx) {
          // If it's an edit case
          tourData.RefbonOnyx = this.tour.RefbonOnyx;
          Axios.patch(
            process.env.VUE_APP_API_SERVICE + "tours/" + this.tour.RefbonOnyx,
            tourData
          )
            .then(() => {
              this.snack = true;
              this.snackbarColor = "success";
              this.snackMsg = "La tournée a été modifiée";
            })
            .catch(error => {
              this.snack = true;
              this.snackbarColor = "error";
              this.snackMsg = "Erreur : " + error;
            })
            .finally(() => {
              this.loading = false;
              this.reset();
              this.$router.go(-1);
            });
        } else {
          // If it's a create case
          Axios.post(process.env.VUE_APP_API_SERVICE + "tours", tourData)
            .then(() => {
              this.snack = true;
              this.snackbarColor = "success";
              this.snackMsg = "La tournée a été ajoutée";
            })
            .catch(error => {
              this.snack = true;
              this.snackbarColor = "error";
              this.snackMsg = "Erreur : " + error;
            })
            .finally(() => {
              this.loading = false;
              this.reset();
              this.$router.go(-1);
            });
        }
      }
    },
    reset() {
      this.$refs.TourForm.reset();
    },
    populateForm() {
      if (this.tour.RefbonOnyx) {
        this.formData.TIDTOUR = this.tour.TIDTOUR;
        this.formData.num_bon = this.tour.num_bon;
        this.formData.vehicule = this.tour.vehicule;
        this.formData.Chauffeur_1 = this.tour.Chauffeur_1;
        this.formData.Chauffeur_2 = this.tour.Chauffeur_2;
        this.formData.Heure_Deb_Tour = new Date(this.tour.Heure_Deb_Tour)
          .toLocaleTimeString()
          .substring(0, 5);
        this.formData.Heure_Fin_Tour = this.tour.Heure_Fin_Tour;
        this.formData.Kilometre_Deb_Tour = this.tour.Kilometre_Deb_Tour;
        this.formData.Kilometre_Fin_Tour = this.tour.Kilometre_Fin_Tour;
        this.formData.Poids_Charge_Vehicule = this.tour.Poids_Charge_Vehicule;
        this.formData.Poids_Vide_Vehicule = this.tour.Poids_Vide_Vehicule;
        this.formData.poidsNet = this.tour.poidsNet;
        this.formData.Poids_ApresSousProduitsCat2 = this.tour.Poids_ApresSousProduitsCat2;
        this.formData.date_reception = new Date(this.tour.date_reception)
          .toISOString()
          .substring(0, 10);
        this.formData.heure_reception = new Date(
          this.tour.heure_reception
        ).toLocaleTimeString();
        this.formData.Incident_De_Pesee = this.tour.Incident_De_Pesee;
        this.formData.centre_traitmt = this.tour.centre_traitmt;
      }
    }
  }
};
</script>
