<template>
  <div id="drawer">
    <v-list dense v-for="(link, index) in accessibleLinks" :key="index">
      <v-list-tile @click="goTo(index)">
        <v-list-tile-action>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ link.name }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      links: [
        { name: "Accueil", icon: "home", path: "/", rights: 1 },
        { name: "Éleveurs", icon: "assignment", path: "/eleveurs", rights: 3 },
        { name: "Appels", icon: "phone", path: "/appels", rights: 3 },
        { name: "Tournées", icon: "explore", path: "/tournees", rights: 3 },
        {
          name: "Planning",
          icon: "calendar_today",
          path: "/planning",
          rights: 2
        },
        {
          name: "Tableau de bord",
          icon: "dashboard",
          path: "/dashboard",
          rights: 1
        },
        { name: "Rapports", icon: "file_copy", path: "/rapports", rights: 1 },
        { name: "Anomalies", icon: "warning", path: "/anomalies", rights: 3 },
        {
          name: "Utilisateurs",
          icon: "supervisor_account",
          path: "/utilisateurs",
          rights: 4
        }
      ]
    };
  },
  computed: {
    accessibleLinks() {
      const userRights = this.$store.getters.currentUser.role;
      var accessLinks = [];
      for (const link of this.links) {
        if (link.rights <= userRights) {
          accessLinks.push(link);
        }
      }
      return accessLinks;
    }
  },
  methods: {
    goTo(linkId) {
      this.$router.push(this.accessibleLinks[linkId].path);
    }
  }
};
</script>
