<template>
  <v-menu bottom left>
    <template v-slot:activator="{ on }">
      <v-btn dark icon v-on="on">
        <v-icon>more_vert</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-tile @click="changeTheme">
        <v-list-tile-avatar>
          <v-icon>{{ themeIcon }}</v-icon>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>{{ themeLabel }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile @click="goToAccount">
        <v-list-tile-avatar>
          <v-icon>account_circle</v-icon>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>{{ username }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile @click="disconnect">
        <v-list-tile-avatar>
          <v-icon>power_settings_new</v-icon>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>Déconnexion</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    username() {
      return this.$store.getters.currentUser.pseudo || "Mon compte";
    },
    themeIcon() {
      if (this.$store.getters.darkTheme) {
        return "wb_sunny";
      } else {
        return "brightness_3";
      }
    },
    themeLabel() {
      if (this.$store.getters.darkTheme) {
        return "Thème clair";
      } else {
        return "Thème sombre";
      }
    }
  },
  methods: {
    disconnect() {
      this.$store
        .dispatch("logout")
        .then(() => this.$router.push("/login"))
        .catch(err => console.log(err));
    },
    changeTheme() {
      this.$store.commit("DARK_THEME", !this.$store.getters.darkTheme);
    },
    goToAccount() {
      this.$router.push({
        name: "userDetails",
        params: { userId: this.$store.getters.currentUser.id }
      });
    }
  }
};
</script>
