<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-btn color="accent" to="/">
          Retour à l'accueil
        </v-btn>
      </v-flex>
      <v-flex>
        <h1>Erreur 403 : non autorisé</h1>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <v-img src="https://http.cat/403" aspect-ratio="1.4"></v-img>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {};
</script>
