<template>
  <div>
    <v-container fluid grid-list-xl>
      <v-layout>
        <v-flex>
          <h1>Tableau de bord vétérinaire</h1>
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex>
          <v-menu
            v-model="dateMenu1"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="formattedDate1"
                label="Date de début"
                persistent-hint
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date1"
              @input="dateMenu1 = false"
              locale="fr-fr"
              first-day-of-week="1"
            ></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex>
          <v-menu
            v-model="dateMenu2"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="formattedDate2"
                label="Date de fin"
                persistent-hint
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date2"
              @input="dateMenu2 = false"
              locale="fr-fr"
              first-day-of-week="1"
              :min="date1"
            ></v-date-picker>
          </v-menu>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex md6>
          <GeneralStats :animals="data"></GeneralStats>
        </v-flex>
        <v-flex md6>
          <CattleProd :animals="data"></CattleProd>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Axios from "axios";
import moment from "moment";
import GeneralStats from "@/components/stats/GeneralStats";
import CattleProd from "@/components/stats/CattleProd";

export default {
  components: {
    GeneralStats,
    CattleProd
  },
  data() {
    return {
      dateMenu1: false,
      dateMenu2: false,
      date1: new Date().toISOString().substr(0, 10),
      date2: new Date().toISOString().substr(0, 10),
      data: []
    };
  },
  computed: {
    formattedDate1() {
      return this.date1 ? moment(this.date1).format("DD/MM/YYYY") : "";
    },
    formattedDate2() {
      return this.date2 ? moment(this.date2).format("DD/MM/YYYY") : "";
    }
  },
  watch: {
    date1: {
      handler: "getAnimalsFromPeriod",
      immediate: true
    },
    date2: {
      handler: "getAnimalsFromPeriod",
      immediate: true
    }
  },
  methods: {
    getAnimalsFromPeriod() {
      if (this.date1 && this.date2) {
        Axios.get(process.env.VUE_APP_API_SERVICE + "animals/", {
          params: {
            from: new Date(this.date1).toISOString(),
            to: new Date(this.date2).toISOString()
          }
        })
          .then(Response => (this.data = Response.data))
          .catch(ErrorEvent => console.log(ErrorEvent));
      }
    }
  },
  beforeCreate() {
    this.$store
      .dispatch("getSpeciesNames")
      .then()
      .catch(ErrorEvent => console.log(ErrorEvent));
  },
  beforeDestroy() {
    this.data = [];
    delete this.data;
  }
};
</script>
