<template>
  <v-card>
    <v-card-title primary-title>
      <h2>Répartition des bovins sur la période</h2>
    </v-card-title>
    <v-container fluid>
      <v-layout>
        <v-flex>
          <LineDiagram :chart-data="data"></LineDiagram>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import LineDiagram from "@/components/stats/LineDiagram";
export default {
  components: {
    LineDiagram
  },
  props: {
    animals: Array
  },
  computed: {
    data() {
      const data = this.animals
        .map(animal => {
          if (animal.Espece === "BOVINS" || animal.Espece === "VEAUX") {
            return animal;
          }
        })
        .filter(elt => elt !== undefined);
      const res = [0, 0, 0];
      for (const an of data) {
        if (an.TYPROD === "L") res[0]++;
        else if (an.TYPROD === "V") res[1]++;
        else res[2]++;
      }
      const dataCollection = {
        labels: ["Lait", "Viande", "Non spécifié"],
        datasets: [
          {
            label: "Bovins et veaux récupérés",
            backgroundColor: ["#d31145", "#b5d0ff", "#002e62"],
            data: [res[0], res[1], res[2]]
          }
        ]
      };
      return dataCollection;
    }
  }
};
</script>
