<template>
  <v-card>
    <v-card-title primary-title>
      <h2>Nombre d'animaux morts sur la période</h2>
    </v-card-title>
    <v-container fluid>
      <v-layout row>
        <v-flex>
          <h3>Nombre total d'animaux : {{ animals.length }}</h3>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex v-for="(data, item) in speciesNumber" :key="item">
          <h3>
            &nbsp;&nbsp;&nbsp;&nbsp;{{ data.species }}&nbsp;&nbsp;&nbsp;&nbsp;
          </h3>
          &nbsp;&nbsp;&nbsp;&nbsp;{{ data.number }}
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-alert :value="true" type="info">
            Les valeurs données sont à titre indicatif et ne sont pas forcément
            réelles. (Les volailles par exemple ne sont pas représentables)
          </v-alert>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    animals: Array
  },
  computed: {
    speciesNumber() {
      var res = [];
      var spNum = 0;
      const reducer = (acc, current) => {
        if (current.Nbre !== null) {
          return acc + current.Nbre;
        }
        return acc++;
      };
      if (this.animals == []) return [];
      for (const species of this.speciesList) {
        spNum = this.animals
          .filter(e => e.Espece === species.text)
          .reduce(reducer, 0);
        res.push({
          species: species.text,
          number: spNum
        });
      }
      return res;
    },
    ...mapState({
      speciesList: "speciesNames"
    })
  }
};
</script>
