<template>
  <component v-bind:is="layout"></component>
</template>

<script>
import MainLayout from "./layout/MainLayout";
import AuthLayout from "./layout/AuthLayout";

export default {
  computed: {
    layout() {
      return this.$store.getters.layout;
    }
  },
  components: {
    "main-layout": MainLayout,
    "auth-layout": AuthLayout
  }
};
</script>
