<template>
  <div>
    <v-container fluid grid-list-xl>
      <v-layout align-end row>
        <v-flex>
          <v-btn color="primary" @click="$router.go(-1)">
            <v-icon left dark>arrow_back</v-icon>Retour
          </v-btn>
        </v-flex>
        <v-flex>
          <h1>Collectes</h1>
        </v-flex>
      </v-layout>
      <v-layout align-content-end fill-height row>
        <v-flex md7 grow>
          <CallRemovedTable @call-details="showCallDetails"></CallRemovedTable>
        </v-flex>
        <v-flex md5 grow>
          <CallDetails
            :call="detailedCall"
            @edit-call="editCall"
            @edit-animal="editAnimal"
          ></CallDetails>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog v-model="editAnimalDialog" persistent max-width="800px">
      <AnimalForm
        :animalIndex="-1"
        :callId="0"
        :animalEdit="editedAnimal"
        v-show="editAnimalDialog"
        @edited="endAnimalEd"
      ></AnimalForm>
    </v-dialog>
  </div>
</template>

<script>
import CallRemovedTable from "@/components/calls/CallsRemovedTable";
import CallDetails from "@/components/calls/CallDetails.vue";
import AnimalForm from "@/components/animals/AnimalForm.vue";
import Axios from "axios";
export default {
  components: {
    CallRemovedTable,
    CallDetails,
    AnimalForm
  },
  data() {
    return {
      detailedCall: {},
      editedAnimal: {},
      editAnimalDialog: false
    };
  },
  methods: {
    showCallDetails(e) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "calls/" + e)
        .then(Response => (this.detailedCall = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent));
    },
    editCall(e) {
      this.$router.push({ name: "callEdit", params: { callId: e } });
    },
    editAnimal(e) {
      this.$store
        .dispatch("getSpeciesNames")
        .then(() => this.$store.dispatch("getRacesNames"))
        .then(() => this.$store.dispatch("getNatspan"))
        .then(() => this.$store.dispatch("getINFID"))
        .then(() => this.$store.dispatch("getDeathCauses"))
        .then(() => Axios.get(process.env.VUE_APP_API_SERVICE + "animals/" + e))
        .then(Response => {
          this.editedAnimal = Response.data;
          this.editAnimalDialog = true;
        })
        .catch(ErrorEvent => console.log(ErrorEvent));
    },
    endAnimalEd(e) {
      if (e) this.editAnimalDialog = false;
    }
  }
};
</script>
