<template>
  <div>
    <v-container fluid>
      <v-layout align-center>
        <v-flex>
          <h1>Rapports</h1>
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex>
          <v-menu
            v-model="dateMenu1"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="formattedDate1"
                label="Date de début"
                persistent-hint
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date1"
              @input="dateMenu1 = false"
              locale="fr-fr"
              first-day-of-week="1"
            ></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex>
          <v-menu
            v-model="dateMenu2"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="formattedDate2"
                label="Date de fin"
                persistent-hint
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date2"
              @input="dateMenu2 = false"
              locale="fr-fr"
              first-day-of-week="1"
              :min="date1"
            ></v-date-picker>
          </v-menu>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex>
          <v-radio-group row v-model="currentReport">
            <v-radio label="Bilan bovins" value="cattleReport"></v-radio>
            <v-radio
              label="Collecte bovins sans DAB"
              value="noDABReport"
            ></v-radio>
          </v-radio-group>
        </v-flex>
        <v-flex>
          <v-btn color="primary" to="/rapports/appels-enleves"
            >Bilan collectes</v-btn
          >
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <CattleReport :cattleData="data" @show-call="showCall"></CattleReport>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog v-model="showDetails" max-width="800">
      <CallDetails :call="call" @edit-call="editCall"></CallDetails>
    </v-dialog>
  </div>
</template>

<script>
import CattleReport from "@/components/reports/CattleReport";
import CallDetails from "@/components/calls/CallDetails";
import moment from "moment";
import Axios from "axios";

export default {
  components: {
    CattleReport,
    CallDetails
  },
  data() {
    return {
      dateMenu1: false,
      dateMenu2: false,
      date1: new Date().toISOString().substr(0, 10),
      date2: new Date().toISOString().substr(0, 10),
      call: {},
      showDetails: false,
      currentReport: "cattleReport",
      data: []
    };
  },
  computed: {
    formattedDate1() {
      return this.date1 ? moment(this.date1).format("DD/MM/YYYY") : "";
    },
    formattedDate2() {
      return this.date2 ? moment(this.date2).format("DD/MM/YYYY") : "";
    }
  },
  watch: {
    currentReport: {
      handler: "gatherData",
      immediate: true
    },
    date1: {
      handler: "gatherData"
    },
    date2: {
      handler: "gatherData"
    }
  },
  methods: {
    showCall(e) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "calls/" + e)
        .then(Response => {
          this.call = Response.data;
          this.showDetails = true;
        })
        .catch(ErrorEvent => console.log(ErrorEvent));
    },
    editCall(e) {
      this.$router.push({ name: "callEdit", params: { callId: e } });
    },
    gatherData() {
      Axios.get(process.env.VUE_APP_API_SERVICE + "animals/cattleReport", {
        params: {
          from: new Date(this.date1).toISOString(),
          to: new Date(this.date2).toISOString()
        }
      })
        .then(Response => {
          const res = Response.data.map(animal => {
            animal.datetimeCall = this.dateTimeCall(animal);
            animal.datetimeEnlev = this.dateTimeEnlev(animal);
            animal.farmInfos = this.farmInfos(animal);
            animal.phones = this.phones(animal);
            animal.address = this.address(animal);
            animal.id = animal.CodePaysNumAnimal + animal.Identification_BV;
            animal.hasDAB = animal.Indicateur2 !== 0 ? "Oui" : "Non";
            animal.DABSDA =
              "DAB : " + animal.NumDAB + " \nASDA : " + animal.NumASDA;
            if (
              this.currentReport === "noDABReport" &&
              animal.Indicateur2 !== 0
            )
              return;
            return animal;
          });
          this.data = res.filter(el => el !== undefined);
        })
        .catch(ErrorEvent => console.log(ErrorEvent));
    },
    dateTimeCall(line) {
      return (
        new Date(line.Date_Appel).toLocaleDateString() +
        " à " +
        new Date(line.Heure_Appel).toLocaleTimeString()
      );
    },
    dateTimeEnlev(line) {
      return (
        new Date(line.Date_Enlev).toLocaleDateString() +
        " à " +
        new Date(line.Heure_Enlev).toLocaleTimeString()
      );
    },
    farmInfos(line) {
      return (
        line.Nom_Det +
        " " +
        line.Prenom_Det +
        " \nEDE : " +
        line.EDEV2 +
        " \nSIRET : " +
        line.SIRETV2
      );
    },
    phones(line) {
      return line.Telephone1 + "\n" + line.Portable1 + "\n" + line.Portable2;
    },
    address(line) {
      return (
        line.num_voie_dom +
        " " +
        line.nom_voie_dom +
        " " +
        line.Adrs_Dom +
        " " +
        line.CP_Dom +
        " " +
        line.Commune_Dom
      );
    }
  }
};
</script>
