<template>
  <div>
    <v-container fluid>
      <v-layout row>
        <v-flex>
          <v-btn color="error" @click="navigate">
            Retour
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex>
          <UserForm :user="user"></UserForm>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import UserForm from "@/components/users/UserForm";
import Axios from "axios";
export default {
  components: {
    UserForm
  },
  data() {
    return {
      user: {}
    };
  },
  methods: {
    navigate() {
      if (this.$store.getters.currentUser.role >= 4) {
        this.$router.push({ name: "users" });
      } else {
        this.$router.push("/");
      }
    }
  },
  beforeCreate() {
    const userId = this.$route.params.userId;
    if (userId) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "users/" + userId)
        .then(Response => (this.user = Response.data))
        .catch(ErrorEvent => console.log(ErrorEvent));
    }
  }
};
</script>
