<template>
  <div>
    <v-form v-model="isValid" ref="UserPwd">
      <v-container fluid>
        <v-layout>
          <v-flex>
            <v-btn color="error" to="/">Retour</v-btn>
          </v-flex>
          <v-flex>
            <h1>Modification du mot de passe</h1>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <v-text-field
              v-model="currentPwd"
              :append-icon="showPwd ? 'visibility' : 'visibility_off'"
              :type="showPwd ? 'text' : 'password'"
              label="Mot de passe actuel"
              counter
              @click:append="showPwd = !showPwd"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="newPwd"
              :append-icon="showNewPwd ? 'visibility' : 'visibility_off'"
              :rules="passwordRules"
              :type="showNewPwd ? 'text' : 'password'"
              label="Nouveau mot de passe"
              hint="Minimum 8 caractères"
              counter
              @click:append="showNewPwd = !showNewPwd"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
              v-model="confirmNewPwd"
              :append-icon="showConfirm ? 'visibility' : 'visibility_off'"
              :rules="confirmPwdRules"
              :type="showConfirm ? 'text' : 'password'"
              label="Mot de passe"
              hint="Doit correspondre au mot de passe"
              counter
              @click:append="showConfirm = !showConfirm"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex>
            <v-btn color="success" @click="save">Sauvegarder</v-btn>
            <v-progress-circular
              indeterminate
              color="secondary"
              v-if="loading"
            ></v-progress-circular>
          </v-flex>
          <v-flex>
            <v-btn color="warning">Effacer</v-btn>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-alert :value="true" type="info">
            Vous serez redirigés vers la page de connexion une fois le mot de
            passe changé.
          </v-alert>
        </v-layout>
      </v-container>
    </v-form>
    <v-snackbar v-model="snack" :color="snackColor" top right>
      {{ snackMsg }}
      <v-btn flat @click="snack = false">Fermer</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import Axios from "axios";
export default {
  data() {
    return {
      isValid: false,
      loading: false,
      snack: false,
      snackColor: "error",
      snackMsg: null,
      currentPwd: "",
      newPwd: "",
      confirmNewPwd: "",
      passwordRules: [
        v => !!v || "Le mot de passe est requis.",
        v => v.length >= 8 || "Doit être supérieur à 8 caractères."
      ],
      confirmPwdRules: [
        v => !!v || "Le mot de passe ne peut pas être vide.",
        v => this.newPwd === v || "Les mots de passe ne correspondent pas."
      ],
      showPwd: false,
      showNewPwd: false,
      showConfirm: false
    };
  },
  methods: {
    save() {
      if (this.$refs.UserPwd.validate()) {
        this.loading = true;
        const data = {
          oldPwd: this.currentPwd,
          newPwd: this.newPwd,
          pseudo: this.$store.getters.currentUser.pseudo
        };
        Axios.patch(
          process.env.VUE_APP_API_SERVICE +
            "/users/newPassword/" +
            this.$store.getters.currentUser.id,
          data
        )
          .then(Response => {
            if (Response) {
              if (Response.status === 200) {
                this.$store
                  .dispatch("logout")
                  .then(() => this.$router.push("/login"))
                  .catch(err => console.log(err));
              } else {
                this.snack = true;
                this.snackColor = "error";
                this.snackMsg = Response.data.message;
              }
            } else {
              this.snack = true;
              this.snackColor = "error";
              this.snackMsg = "Le mot de passe actuel est erroné.";
            }
          })
          .catch(ErrorEvent => {
            this.snack = true;
            this.snackColor = "error";
            this.snackMsg = ErrorEvent;
          })
          .finally(() => (this.loading = false));
      }
    }
  }
};
</script>
