<template>
  <v-card>
    <v-card-title primary-title>
      <h2>Détails</h2>
      <v-spacer></v-spacer>
      <v-btn fab dark ripple color="secondary" @click.stop="editUser()">
        <v-icon dark>edit</v-icon>
      </v-btn>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            fab
            dark
            ripple
            color="secondary"
            v-on="on"
            to="/utilisateurs/password"
          >
            <v-icon dark>lock</v-icon>
          </v-btn>
        </template>
        <span>Modifier le mot de passe</span>
      </v-tooltip>
    </v-card-title>
    <v-container fluid>
      <v-layout row>
        <v-flex>
          <h3>Nom et prénom</h3>
          {{ user.lastname }} {{ user.firstname }}
        </v-flex>
        <v-flex>
          <h3>Pseudo</h3>
          {{ user.pseudo }}
        </v-flex>
        <v-flex>
          <h3>Rôle</h3>
          {{ role }}
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import Axios from "axios";

export default {
  data() {
    return {
      user: {}
    };
  },
  computed: {
    role() {
      switch (this.user.role) {
        case 1:
          return "Vétérinaire";
        case 2:
          return "Chauffeur";
        case 3:
          return "Opérateur(-trice) de saisie";
        case 4:
          return "Administrateur";
        default:
          return "Non défini";
      }
    }
  },
  methods: {
    editUser() {
      this.$router.push({ name: "userEdit", params: { userId: this.user.id } });
    }
  },
  beforeCreate() {
    const userId = this.$route.params.userId;
    if (userId) {
      if (
        this.$store.getters.currentUser.role >= 4 ||
        this.$store.getters.currentUser.id === userId
      ) {
        Axios.get(process.env.VUE_APP_API_SERVICE + "users/" + userId)
          .then(Response => (this.user = Response.data))
          .catch(ErrorEvent => console.log(ErrorEvent));
      } else {
        this.$router.push("/403");
      }
    }
  }
};
</script>
