<template>
  <v-container fluid grid-list-xl>
    <v-layout>
      <v-flex>
        <v-btn color="primary" ripple to="/utilisateurs/nouveau">
          Nouvel utilisateur
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <UsersTable @edit-user="editUser"></UsersTable>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UsersTable from "@/components/users/UsersTable";

export default {
  components: {
    UsersTable
  },
  methods: {
    editUser(e) {
      this.$router.push({ name: "userEdit", params: { userId: e } });
    }
  }
};
</script>
