<template>
  <v-app :dark="darkTheme" id="gds-spe-auth-layout">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <router-view></router-view>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  computed: {
    darkTheme() {
      return this.$store.getters.darkTheme;
    }
  }
};
</script>
