<template>
  <v-app :dark="darkTheme" id="gds-spe-main-layout">
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-list dense>
        <Drawer />
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>
        ÉQUARUN - Services
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <UserMenu />
    </v-toolbar>
    <v-content class="container">
      <router-view></router-view>
    </v-content>
    <v-footer color="primary" app>
      <span class="white--text">
        &copy; 2019 Yvan Sanson et le GDS Réunion - v. 1.0.1
      </span>
    </v-footer>
  </v-app>
</template>

<script>
import Drawer from "@/components/Drawer.vue";
import UserMenu from "@/components/UserMenu.vue";

export default {
  title: "RUN Services",
  data: () => ({
    drawer: null
  }),
  computed: {
    darkTheme() {
      return this.$store.getters.darkTheme;
    }
  },
  components: {
    Drawer,
    UserMenu
  }
};
</script>
