<template>
  <div>
    <v-container fluid grid-list-xl>
      <v-layout alogn-center>
        <v-flex>
          <h1>Planning</h1>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex>
          <v-btn
            color="primary"
            to="/planning/ouest"
            :disabled="zone === 'ouest'"
          >
            Ouest
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn
            color="primary"
            to="/planning/milieu"
            :disabled="zone === 'milieu'"
          >
            Milieu
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn
            color="primary"
            to="/planning/salazie"
            :disabled="zone === 'salazie'"
          >
            Salazie
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn color="primary" to="/planning/est" :disabled="zone === 'est'">
            Est
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn color="primary" to="/planning/sud" :disabled="zone === 'sud'">
            Sud
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn color="primary" to="/planning/">
            Tous
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <ZoneTable :zoneCode="zone"></ZoneTable>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ZoneTable from "@/components/planning/ZoneTable.vue";
export default {
  components: {
    ZoneTable
  },
  computed: {
    zone() {
      return this.$route.params.zoneCode;
    }
  }
};
</script>
