<template>
  <div>
    <v-container fluid grid-list-xl>
      <v-layout align-center>
        <v-flex>
          <h1>Planning</h1>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex>
          <v-btn color="primary" to="/planning/ouest">
            Ouest
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn color="primary" to="/planning/milieu">
            Milieu
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn color="primary" to="/planning/salazie">
            Salazie
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn color="primary" to="/planning/est">
            Est
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn color="primary" to="/planning/sud">
            Sud
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <PrimaryRemovalsTable @show-call="showCall"></PrimaryRemovalsTable>
      </v-layout>
    </v-container>
    <v-dialog v-model="showDetails" max-width="800">
      <CallDetails :call="call" @edit-call="editCall"></CallDetails>
    </v-dialog>
  </div>
</template>

<script>
import PrimaryRemovalsTable from "@/components/planning/PrimaryRemovalsTable";
import CallDetails from "@/components/calls/CallDetails";
import Axios from "axios";

export default {
  components: {
    PrimaryRemovalsTable,
    CallDetails
  },
  data() {
    return {
      showDetails: false,
      call: {}
    };
  },
  methods: {
    showCall(e) {
      Axios.get(process.env.VUE_APP_API_SERVICE + "calls/" + e)
        .then(Response => {
          this.call = Response.data;
          this.showDetails = true;
        })
        .catch(ErrorEvent => console.log(ErrorEvent));
    },
    editCall(e) {
      this.$router.push({ name: "callEdit", params: { callId: e } });
    }
  }
};
</script>
